<template>
    <div class="w-full h-full max-w-[1140px] mx-auto space-y-[15px]">
        <div class="w-full h-[40px] mx-auto">
            <div class="flex justify-center bg-white shadow items-center">
                <img src="clipse.svg" alt="" />
                <span class="cursor-pointer text-green-700"
                    >iPhone 12 Pro Max chỉ 23tr</span
                >
            </div>
        </div>
        <div class="w-full md:max-h-[375px] flex">
            <div
                class="
                    w-full
                    flex flex-col
                    md:flex-row
                    space-y-2
                    md:space-y-0 md:space-x-2
                "
            >
                <div class="md:w-2/3 w-full h-full flex flex-col">
                    <!-- SLIDER -->
                    <div class="flex-grow w-full relative group cursor-pointer">
                        <swiper
                            :slidesPerView="auto"
                            :spaceBetween="2"
                            :autoplay="{
                                delay: 3000,
                                disableOnInteraction: 'false',
                            }"
                            :loop="true"
                            :loopedSlides="1"
                            :navigation="{
                                nextEl: '#button-next-relacionados1',
                                prevEl: '#button-prev-relacionados1',
                            }"
                            @swiper="onSwiper"
                            @slideChange="onSlideChange"
                            @mouseover="enter"
                            @mouseleave="leave"
                            class="w-full h-full"
                        >
                            <template v-for="(v, i) in dataBanner" :key="i">
                                <swiper-slide>
                                    <img
                                        :src="v.img"
                                        alt=""
                                        class="w-full h-full select-none"
                                    />
                                </swiper-slide>
                            </template>
                        </swiper>
                        <div
                            id="button-prev-relacionados1"
                            class="swiper-button-prev"
                        >
                            <i class="bx bxs-left-arrow"></i>
                        </div>
                        <div
                            id="button-next-relacionados1"
                            class="swiper-button-next"
                        >
                            <i class="bx bxs-right-arrow"></i>
                        </div>
                    </div>
                    <!-- END_SLIDER -->

                    <div
                        class="
                            hidden
                            w-full
                            bg-white
                            lg:flex
                            justify-center
                            items-center
                            shadow
                        "
                    >
                        <div class="text-white flex justify-between w-full">
                            <template
                                v-for="(v, i) in dataBanner"
                                :key="i"
                                class=""
                            >
                                <div
                                    class="
                                        w-1/5
                                        transition-all
                                        duration-300
                                        px-[3px]
                                        bg-white
                                        text-[10px]
                                        lg:text-[12px]
                                        hover:test
                                        cursor-pointer
                                        flex
                                        justify-center
                                        items-center
                                        lg:h-[60px]
                                        border-r border-gray-200
                                        sale
                                    "
                                    @click="changeA(i)"
                                    :class="{ active: sliderActive == i }"
                                >
                                    <span
                                        :class="{
                                            textactive: sliderActive == i,
                                        }"
                                        class="
                                            text-black
                                            font-light
                                            text-center
                                            hover:font-medium
                                            h-full
                                            grid
                                            place-items-center
                                        "
                                    >
                                        {{ v.name }}
                                    </span>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/3 flex md:flex-col">
                    <div class="w-full md:h-1/2 shadow cursor-pointer md:pb-1">
                        <img
                            src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/06/giao-hang.png"
                            alt=""
                            class="w-full object-cover"
                        />
                    </div>
                    <div
                        class="
                            w-full
                            md:h-1/2
                            relative
                            group
                            cursor-pointer
                            shadow
                            md:pt-1
                            hidden
                            lg:block
                        "
                    >
                        <div
                            class="
                                absolute
                                w-full
                                h-full
                                top-0
                                left-0
                                flex
                                justify-center
                                items-center
                            "
                        >
                            <i
                                class="
                                    bx bx-play-circle
                                    text-6xl text-white
                                    group-hover:text-red-500
                                "
                            >
                                <a
                                    class="block w-full absolute top-0 left-0"
                                    href="https://www.youtube.com/watch?v=18E01X_O6C8"
                                    target="_blank"
                                >
                                </a>
                            </i>
                        </div>
                        <img
                            src="BB.png"
                            alt=""
                            class="w-full h-full object-cover"
                        />
                        <div class="absolute top-[70%] left-[10px] w-full">
                            <span
                                class="
                                    inline-block
                                    bg-red-500
                                    text-[12px]
                                    px-[4px]
                                "
                            >
                                TIN TỨC MỚI
                            </span>
                            <br />
                            <span
                                class="
                                    inline-block
                                    text-white text-[14px]
                                    font-semibold
                                "
                            >
                                MUA IPHONE KHÔNG THỂ KHÔNG XEM!
                            </span>
                        </div>
                    </div>
                    <div
                        class="
                            w-full
                            md:h-1/2
                            cursor-pointer
                            shadow
                            md:pt-1
                            lg:hidden lg:hidden
                        "
                    >
                        <img
                            src="98bb77bdeae61db844f7.jpg"
                            alt=""
                            class="w-full object-cover bg-center"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full h-[78px] shadow hidden md:block">
            <img
                src="freeship-1.jpg"
                alt=""
                class="w-full h-full object-fill bg-center"
            />
        </div>

        <div
            class="w-full bg-white shadow md:hidden py-2 px-2 flex items-center"
        >
            <img src="clipse.svg" alt="" class="" />
            <span class="text-green-500 font-semibold text-sm ml-2">
                GIAO HÀNG SIÊU TỐC NỘI THÀNH HÀ NỘI- MIỄN GIAO HÀNG TOÀN QUỐC
            </span>
        </div>

        <!-- Khuyen Mai -->
        <div class="w-full">
            <khuyen-mai />
        </div>

        <div
            class="w-full bg-red-600 text-2xl text-center px-2 py-2"
            data-aos-duration="1200"
            data-aos="fade"
        >
            IPHONE BẢO HÀNH RƠI VỠ - VÀO NƯỚC
        </div>

        <!--  Iphone Nổi bật -->
        <div class="w-full" data-aos-duration="1200" data-aos="fade">
            <iphone-highlight />
        </div>

        <!-- Samsung noir bat -->
        <div class="w-full" data-aos-duration="1200" data-aos="fade">
            <samsungHighlingt />
        </div>

        <!-- Máy tính bảng -->
        <div class="w-full" data-aos-duration="1200" data-aos="fade">
            <tabletHighlight />
        </div>

        <!-- Đồng hồ -->
        <div class="w-full" data-aos-duration="1200" data-aos="fade">
            <dongho />
        </div>

        <!-- Laptop -->
        <div class="w-full" data-aos-duration="1200" data-aos="fade">
            <laptop />
        </div>
    </div>
</template>

<script>
import SwiperCore, { Navigation, Autoplay } from 'swiper/core'
import NavHome from '../components/NavBar/NavBar.vue'
import KhuyenMai from '../components/componentHome/KhuyenMai.vue'
import IphoneHighlight from '../components/componentHome/Iphone.vue'
import SamsungHighlingt from '../components/componentHome/Samsung.vue'
import TabletHighlight from '../components/componentHome/Maytinhbang.vue'
import Dongho from '../components/componentHome/Dongho.vue'
import Laptop from '../components/componentHome/Laptop.vue'

import { Swiper, SwiperSlide } from 'swiper/vue'
SwiperCore.use([Navigation, Autoplay])
import 'swiper/swiper-bundle.min.css'

export default {
    components: {
        NavHome,
        Swiper,
        SwiperSlide,
        KhuyenMai,
        IphoneHighlight,
        SamsungHighlingt,
        TabletHighlight,
        Dongho,
        Laptop,
    },
    data() {
        return {
            mySwiper: null,
            sliderActive: null,
            dataBanner: [
                {
                    name: 'Khai trương 82 Lạch Tray - Hải Phòng',
                    img: 'anh-bia-khai-truong.png',
                },
                {
                    name: 'iPhone cũ bảo hành cả rơi vỡ - Vào nước',
                    img: 'roivo.jpg',
                },
                {
                    name: 'Thiết bị hỗ trợ mạng 5G rẻ nhất? Gọi ngay lên Poco M3 Pro ',
                    img: 'PocM3pro.jpg',
                },
                {
                    name: 'Siêu sale siêu hot Vsmart Joy đại hạ giá còn hơn 2 triệu ',
                    img: 'joy4ban.jpg',
                },
                {
                    name: 'Apple Wacth giá rẻ, chỉ từ 3 triệu',
                    img: 'AW3.jpg',
                },
            ],
        }
    },
    methods: {
        onSwiper(swiper) {
            this.mySwiper = swiper
            this.sliderActive = this.mySwiper.realIndex
        },
        onSlideChange() {
            if (this.mySwiper === null) return
            this.sliderActive = this.mySwiper.realIndex
        },
        changeA(i) {
            this.mySwiper.slideToLoop(i)
        },
        leave() {
            this.mySwiper.autoplay.start()
            console.log('start')
        },
        enter() {
            this.mySwiper.autoplay.stop()
            console.log('stop')
        },
    },
}
</script>

<style scoped>
.swiper-button-next,
.swiper-button-prev {
    @apply opacity-0 group-hover:opacity-100 transition-all duration-100 ease-in-out text-white text-2xl w-max min-w-[40px] h-10 bg-black/30 p-2;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
    font-size: 25px;
    color: white;
}

.active {
    background: rgba(231, 229, 228, var(--tw-bg-opacity));
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    /* border-bottom: 1px solid red; */
}
.textactive {
    font-weight: 500;
    color: rgba(239, 68, 68, var(--tw-text-opacity));
}
.sale:last-child {
    border-right: none;
}
</style>
