<template>
    <div class="w-full">
        <div class="max-w-[1140px] mx-auto bg-white">
            <!-- Thanh scroll -->
            <div class="max-w-full w-full bg-white shadow">
                <ul
                    class="
                        shadow
                        flex
                        justify-between
                        text-xs text-white
                        space-x-2
                        mx-3
                        px-1
                        py-2
                        overflow-x-scroll
                    "
                >
                    <li
                        class="
                            px-[20px]
                            sm:px-[80px]
                            md:px-[100px]
                            max-w-max
                            bg-red-600
                            whitespace-nowrap
                            h-full
                            py-2
                            rounded-md
                            cursor-pointer
                        "
                    >
                        <span> Macbook Air </span>
                    </li>
                    <li
                        class="
                            px-[20px]
                            sm:px-[80px]
                            md:px-[100px]
                            max-w-max
                            bg-red-600
                            whitespace-nowrap
                            h-full
                            py-2
                            rounded-md
                            cursor-pointer
                        "
                    >
                        <span> Macbook Pro </span>
                    </li>
                    <li
                        class="
                            px-[20px]
                            sm:px-[80px]
                            md:px-[100px]
                            max-w-max
                            bg-red-600
                            whitespace-nowrap
                            h-full
                            py-2
                            rounded-md
                            cursor-pointer
                        "
                    >
                        <span> Macbook Mini </span>
                    </li>
                    <li
                        class="
                            px-[20px]
                            sm:px-[80px]
                            max-w-max
                            bg-red-600
                            whitespace-nowrap
                            h-full
                            py-2
                            rounded-md
                            cursor-pointer
                        "
                    >
                        <span> iMac </span>
                    </li>
                </ul>
            </div>

            <div
                class="
                    flex
                    justify-between
                    items-center
                    py-2
                    border-t border-b border-gray-300
                "
            >
                <span class="text-xl font-semibold ml-4">Macbook</span>
                <ul class="flex text-red-500 text-[14px] space-x-3 px-2">
                    <li
                        class="
                            hover:text-gray-600
                            cursor-pointer
                            transition-colors
                            duration-300
                        "
                    >
                        <span>Dưới 3 triệu</span>
                    </li>

                    <li
                        class="
                            hover:text-gray-600
                            cursor-pointer
                            transition-colors
                            duration-300
                        "
                    >
                        <span>Từ 3 - 7 triệu</span>
                    </li>

                    <li
                        class="
                            hover:text-gray-600
                            cursor-pointer
                            transition-colors
                            duration-300
                        "
                    >
                        <span>Từ 7 - 10 triệu</span>
                    </li>

                    <li class="relative">
                        <div
                            class="group flex space-x-[2px]"
                            @click="onShowPrice"
                        >
                            <span
                                class="
                                    group-hover:text-gray-600
                                    transition-colors
                                    duration-300
                                    cursor-pointer
                                "
                                >Giá khác</span
                            >
                            <span
                                class="
                                    w-0
                                    h-0
                                    border-[5px]
                                    border-t-red-500
                                    border-r-transparent
                                    border-b-transparent
                                    border-transparent
                                    transform
                                    translate-y-[8px]
                                    group-hover:border-t-gray-600
                                    transition-colors
                                    duration-300
                                    cursor-pointer
                                "
                            >
                            </span>
                        </div>
                        <transition
                            @before-enter="beforeMemory"
                            @enter="memory"
                            @before-leave="beforeMemoryLeave"
                            @leave="memoryLeave"
                            @after-leave="afterMemoryLeave"
                        >
                            <div
                                class="
                                    absolute
                                    top-[calc(100%+10px)]
                                    right-0
                                    min-w-[150px]
                                    bg-white
                                    shadow
                                    z-20
                                    rounded-md
                                    tao-tam-giac
                                    border border-gray-300
                                "
                                v-show="isShowPrice"
                            >
                                <ul
                                    class="
                                        text-gray-800
                                        max-w-max
                                        ml-2
                                        py-2
                                        space-y-3
                                        h-full
                                        overflow-hidden
                                    "
                                >
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>Dưới 3 triệu</span>
                                    </li>
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>Từ 3 - 7 triệu</span>
                                    </li>
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>Từ 7 - 10 triệu</span>
                                    </li>
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>Từ 10 - 15 triệu</span>
                                    </li>
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>Trên 15 triệu</span>
                                    </li>
                                </ul>
                            </div>
                        </transition>
                        <transition name="bounce">
                            <span
                                class="
                                    absolute
                                    right-[10px]
                                    top-[calc(100%+20px)]
                                    z-20
                                    cursor-pointer
                                "
                                v-show="isShowPrice"
                                @click="onShowPrice"
                                :class="{
                                    hidden:
                                        isSapXep == true ||
                                        isShowMemory == true,
                                }"
                            >
                                <i
                                    class="
                                        bx bx-x-circle
                                        text-2xl text-gray-600
                                        hover:text-red-600
                                    "
                                ></i>
                            </span>
                        </transition>
                    </li>

                    <li class="relative">
                        <div
                            class="group flex space-x-[2px]"
                            @click="onShowMemory"
                        >
                            <span
                                class="
                                    group-hover:text-gray-600
                                    transition-colors
                                    duration-300
                                    cursor-pointer
                                "
                                >Bộ nhớ</span
                            >
                            <span
                                class="
                                    w-0
                                    h-0
                                    border-[5px]
                                    border-t-red-500
                                    border-r-transparent
                                    border-b-transparent
                                    border-transparent
                                    transform
                                    translate-y-[8px]
                                    group-hover:border-t-gray-600
                                    transition-colors
                                    duration-300
                                    cursor-pointer
                                "
                            >
                            </span>
                        </div>
                        <transition
                            @before-enter="beforeEnter"
                            @enter="enter"
                            @before-leave="beforeLeave"
                            @leave="leave"
                            @after-leave="afterLeave"
                        >
                            <div
                                class="
                                    absolute
                                    top-[calc(100%+10px)]
                                    right-0
                                    min-w-[150px]
                                    bg-white
                                    shadow
                                    z-20
                                    rounded-md
                                    tao-tam-giac
                                    border border-gray-300
                                    h-[50px]
                                "
                                v-if="isShowMemory"
                            >
                                <ul
                                    class="
                                        text-gray-800
                                        max-w-max
                                        ml-2
                                        py-2
                                        space-y-3
                                        h-full
                                        overflow-hidden
                                    "
                                >
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>8 GB</span>
                                    </li>
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>16 GB</span>
                                    </li>
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>32 GB</span>
                                    </li>
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>64 Gb</span>
                                    </li>
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>128 GB</span>
                                    </li>
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>256 GB</span>
                                    </li>
                                </ul>
                            </div>
                        </transition>
                        <transition name="bounce">
                            <span
                                class="
                                    absolute
                                    right-[10px]
                                    top-[calc(100%+20px)]
                                    z-20
                                    cursor-pointer
                                "
                                v-show="isShowMemory"
                                @click="onShowMemory"
                                :class="{
                                    hidden:
                                        isSapXep == true || isShowPrice == true,
                                }"
                            >
                                <i
                                    class="
                                        bx bx-x-circle
                                        text-2xl text-gray-600
                                        hover:text-red-600
                                    "
                                ></i>
                            </span>
                        </transition>
                    </li>

                    <li class="relative">
                        <div class="group flex space-x-[2px]" @click="onSapXep">
                            <span
                                class="
                                    group-hover:text-gray-600
                                    transition-colors
                                    duration-300
                                    cursor-pointer
                                "
                                >Sắp xếp</span
                            >
                            <span
                                class="
                                    w-0
                                    h-0
                                    border-[5px]
                                    border-t-red-500
                                    border-r-transparent
                                    border-b-transparent
                                    border-transparent
                                    transform
                                    translate-y-[8px]
                                    group-hover:border-t-gray-600
                                    transition-colors
                                    duration-300
                                    cursor-pointer
                                "
                            >
                            </span>
                        </div>
                        <transition
                            @before-enter="beforeSapxep"
                            @enter="sapxep"
                            @before-leave="bSapxepLeave"
                            @leave="sapxepLeave"
                            @after-leave="aSapxepLeave"
                        >
                            <div
                                class="
                                    absolute
                                    top-[calc(100%+10px)]
                                    right-0
                                    min-w-[200px]
                                    bg-white
                                    shadow
                                    z-20
                                    rounded-md
                                    tao-tam-giac
                                    border border-gray-300
                                "
                                v-show="isSapXep"
                            >
                                <ul
                                    class="
                                        text-gray-800
                                        max-w-max
                                        ml-2
                                        py-2
                                        space-y-3
                                        h-full
                                        overflow-hidden
                                    "
                                >
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>Sản phẩm xem nhiều</span>
                                    </li>
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>Giá thấp đến cao</span>
                                    </li>
                                    <li
                                        class="
                                            hover:text-red-500
                                            cursor-pointer
                                        "
                                    >
                                        <span>Giá cao đếm thấp</span>
                                    </li>
                                </ul>
                            </div>
                        </transition>
                        <transition name="bounce">
                            <span
                                class="
                                    absolute
                                    right-[10px]
                                    top-[calc(100%+20px)]
                                    z-20
                                    cursor-pointer
                                "
                                v-show="isSapXep"
                                @click="onSapXep"
                                :class="{
                                    hidden:
                                        isShowMemory == true ||
                                        isShowPrice == true,
                                }"
                            >
                                <i
                                    class="
                                        bx bx-x-circle
                                        text-2xl text-gray-600
                                        hover:text-red-600
                                    "
                                ></i>
                            </span>
                        </transition>
                    </li>
                </ul>
            </div>
            <!-- Sản phẩm -->
            <div
                class="
                    w-full
                    grid grid-cols-2
                    sm:grid-cols-2
                    md:grid-cols-3
                    xl:grid-cols-5
                    bg-white
                    border-t border-gray-100
                "
            >
                <router-link
                    :to="{
                        name: 'product',
                        params: {
                            id: `${product.name}-${product.id}`,
                        },
                    }"
                    class="
                        w-full
                        product
                        border-b border-gray-100
                        outline-none
                        focus:outline-none
                        sm:border-r
                        hover:test
                        group
                    "
                    v-for="(product, index) in products"
                    :key="index"
                >
                    <div class="w-full mx-auto py-6 flex justify-center">
                        <div class="cursor-pointer group relative">
                            <div class="w-max-w w-full relative mx-auto">
                                <img
                                    :src="product.img"
                                    alt=""
                                    class="
                                        group-hover:transform
                                        group-hover:translate-y-[-10px]
                                        transition-all
                                        duration-300
                                        ease-in-out
                                        px-2
                                    "
                                />
                                <div
                                    class="
                                        absolute
                                        top-1
                                        right-2
                                        text-[10px] text-white
                                        bg-orange-400
                                        max-w-max
                                        py-[3px]
                                        rounded
                                        px-1
                                    "
                                    v-if="product.installment !== ''"
                                >
                                    {{ product.installment }}
                                </div>
                                <div
                                    class="
                                        absolute
                                        top-1
                                        left-2
                                        text-[10px] text-white
                                        bg-green-500
                                        max-w-max
                                        py-[3px]
                                        rounded
                                        px-1
                                    "
                                    v-if="product.dictation !== ''"
                                >
                                    {{ product.dictation }}
                                </div>
                            </div>
                            <div class="md:px-2 w-full space-y-2 ml-1 sm:ml-0">
                                <div
                                    class="
                                        flex
                                        items-center
                                        space-x-2
                                        bg-yellow-300
                                        rounded-lg
                                        w-full
                                        max-w-max
                                        px-2
                                    "
                                >
                                    <div class="w-[20px]">
                                        <img src="/logo.svg" alt="" />
                                    </div>
                                    <div
                                        class="
                                            text-red-500 text-xs
                                            sm:text-sm
                                            font-semibold
                                        "
                                    >
                                        <span
                                            class="
                                                text-black text-xs
                                                sm:text-sm
                                                font-semibold
                                            "
                                            >Giảm</span
                                        >
                                        {{ product.sale }}
                                    </div>
                                </div>
                                <div
                                    class="
                                        flex
                                        w-full
                                        -ml-3
                                        sm:ml-0
                                        px-2
                                        sm:px-0
                                    "
                                >
                                    <div class="w-[25px]">
                                        <img
                                            src="/giaohang.webp"
                                            alt=""
                                            class="
                                                w-full
                                                object-cover
                                                select-none
                                            "
                                        />
                                    </div>
                                    <div
                                        class="
                                            text-xs
                                            sm:text-sm
                                            text-green-600
                                        "
                                    >
                                        {{ product.brand }}
                                    </div>
                                </div>

                                <div
                                    class="
                                        text-gray-800 text-xs
                                        sm:text-sm
                                        font-normal
                                        hover:text-blue-500
                                        -ml-1
                                        sm:ml-0
                                        px-1
                                        sm:px-0
                                    "
                                >
                                    {{ product.name }}
                                </div>

                                <div
                                    class="
                                        flex
                                        text-xs
                                        sm:text-sm
                                        space-x-1
                                        sm:space-x-2
                                        items-center
                                    "
                                >
                                    <div class="text-red-500 font-medium">
                                        {{ product.price }}
                                    </div>
                                    <div
                                        class="
                                            text-gray-700 text-xs
                                            sm:text-sm
                                            line-through
                                        "
                                    >
                                        {{ product.priceOld }}
                                    </div>
                                </div>

                                <div
                                    class="
                                        flex
                                        text-xs
                                        sm:text-sm
                                        space-x-1
                                        sm:space-x-2
                                        items-center
                                    "
                                >
                                    <div class="">
                                        <i
                                            :class="product.star"
                                            class="text-yellow-400"
                                        >
                                        </i>
                                        <i
                                            :class="product.star"
                                            class="text-yellow-400"
                                        >
                                        </i>
                                        <i
                                            :class="product.star"
                                            class="text-yellow-400"
                                        >
                                        </i>
                                        <i
                                            :class="product.star"
                                            class="text-yellow-400"
                                        >
                                        </i>
                                        <i
                                            :class="product.star"
                                            class="text-gray-300"
                                        >
                                        </i>
                                    </div>
                                    <div
                                        class="
                                            tranform
                                            translate-y-[1px]
                                            text-xs
                                            font-light
                                        "
                                    >
                                        {{ product.evaluate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            isShowPrice: false,
            isShowMemory: false,
            isSapXep: false,
            heightPrice: 0,
            elvementHeight: 0,
            heightSapXep: 0,
            alertAnimation: 'fade',
            typeAnimation: 'fade',
            products: [],
            results: [],
        }
    },
    created() {
        axios
            .get(`http://localhost:3001/promotions`)
            .then((response) => {
                this.results = response.data
            })
            .then(() => {
                this.products = this.results.filter((product) => {
                    return product.manufacturer.toLowerCase() === 'laptop'
                })
            })
            .catch((e) => {
                this.errors.push(e)
            })
    },
    methods: {
        onShowPrice() {
            if (this.isShowMemory == true || this.isSapXep == true) {
                this.isShowMemory = false
                this.isSapXep = false
            }
            this.isShowPrice = !this.isShowPrice
            console.log(this.isShowPrice)
        },
        onShowMemory() {
            if (this.isShowPrice == true || this.isSapXep == true) {
                this.isShowPrice = false
                this.isSapXep = false
            }
            this.isShowMemory = !this.isShowMemory
        },
        onSapXep() {
            if (this.isShowMemory == true || this.isShowPrice == true) {
                this.isShowMemory = false
                this.isShowPrice = false
            }
            this.isSapXep = !this.isSapXep
        },

        beforeEnter(el) {
            console.log('beforeEnter')
            this.elvementHeight = 0
            el.style.height = this.elvementHeight + 'px'
        },
        enter(el, done) {
            console.log('enter')
            let point = 1
            const internal = setInterval(() => {
                el.style.height = this.elvementHeight + point * 20 + 'px'
                point++
                if (point > 10) {
                    clearInterval(internal)
                    done()
                }
            }, 10)
        },
        beforeLeave(el) {
            console.log('beforeLeave')
            this.elvementHeight = 200
            el.style.height = this.elvementHeight + 'px'
        },
        leave(el, done) {
            console.log('leave')
            let point = 1
            const internal = setInterval(() => {
                el.style.height = this.elvementHeight - point * 20 + 'px'
                point++
                if (
                    point > 10 ||
                    this.isSapXep == true ||
                    this.isShowPrice == true
                ) {
                    clearInterval(internal)
                    done()
                }
            }, 10)
        },
        afterLeave(el) {
            console.log('afterLeave')
            this.elvementHeight = 0
            el.style.height = this.elvementHeight + 'px'
        },

        // Giá
        beforeMemory(el) {
            console.log('beforeEnter')
            this.heightPrice = 0
            el.style.height = this.heightPrice + 'px'
        },
        memory(el, done) {
            console.log('enter')
            let point = 1
            const internal = setInterval(() => {
                el.style.height = this.heightPrice + point * 16.5 + 'px'
                point++
                if (point > 10) {
                    clearInterval(internal)
                    done()
                }
            }, 10)
        },
        beforeMemoryLeave(el) {
            console.log('beforeLeave')
            this.heightPrice = 165
            el.style.height = this.heightPrice + 'px'
        },
        memoryLeave(el, done) {
            console.log('leave')
            let point = 1
            const internal = setInterval(() => {
                el.style.height = this.heightPrice - point * 16.5 + 'px'
                point++
                if (
                    point > 10 ||
                    this.isSapXep == true ||
                    this.isShowMemory == true
                ) {
                    clearInterval(internal)
                    done()
                }
            }, 10)
        },
        afterMemoryLeave(el) {
            console.log('afterLeave')
            this.heightPrice = 0
            el.style.height = this.heightPrice + 'px'
        },

        // Sắp xếp
        beforeSapxep(el) {
            this.heightSapXep = 0
            el.style.height = this.heightSapXep + 'px'
        },
        sapxep(el, done) {
            console.log('enter')
            let point = 1
            const internal = setInterval(() => {
                el.style.height = this.heightSapXep + point * 10.5 + 'px'
                point++
                if (point > 10) {
                    clearInterval(internal)
                    done()
                }
            }, 10)
        },
        bSapxepLeave(el) {
            console.log('beforeLeave')
            this.heightSapXep = 165
            el.style.height = this.heightSapXep + 'px'
        },
        sapxepLeave(el, done) {
            console.log('leave')
            let point = 1
            const internal = setInterval(() => {
                el.style.height = this.heightSapXep - point * 13.5 + 'px'
                point++
                if (
                    point > 10 ||
                    this.isShowPrice == true ||
                    this.isShowMemory == true
                ) {
                    clearInterval(internal)
                    done()
                }
            }, 10)
        },
        aSapxepLeave(el) {
            console.log('afterLeave')
            this.heightSapXep = 0
            el.style.height = this.heightSapXep + 'px'
        },
    },
}
</script>

<style scoped>
.tao-tam-giac::after {
    content: '';
    width: 0x;
    height: 0px;
    position: absolute;
    top: -10px;
    right: 10px;
    border-bottom: 10px solid rgba(212, 212, 216, var(--tw-border-opacity));
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.tao-tam-giac::before {
    content: '';
    width: 0;
    height: 0px;
    position: absolute;
    top: -9px;
    right: 11px;
    border-bottom: 9px solid white;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 50;
}
.bounce-enter-active {
    animation: bounce-in 0.5s;
}
.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        color: #ff4136;
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
</style>
