<template>
    <div class="w-full">
        <div class="max-w-[1140px] mx-auto bg-white text-center py-6">
            <h1>Xin lỗi! Clickbuy.com.vn đang update trang này!</h1>
            <br />
            <hr />
            <br />
            <div class="max-w-[400px] mx-auto">
                <img
                    src="/404/404-error.png"
                    alt=""
                    class="w-full h-auto object"
                />
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style>
</style>
