<template>
    <div class="" v-if="product">
        <div class="w-full max-w-[1140px] m-auto">
            <ul
                class="
                    w-full
                    flex
                    justify-start
                    items-center
                    space-x-1
                    md:space-x-2
                    my-2
                    md:my-4
                    text-[8px]
                    sm:text-[10px]
                    md:text-sm
                    text-red-500
                "
            >
                <li
                    data-content=">"
                    class="
                        after:ml-2
                        after:content-[attr(data-content)]
                        last:after:content-[none]
                    "
                >
                    <router-link to="/">
                        <span class="inline-block whitespace-nowrap"
                            >Trang chủ</span
                        >
                    </router-link>
                </li>
                <li
                    data-content=">"
                    class="
                        after:ml-2
                        after:content-[attr(data-content)]
                        last:after:content-[none]
                    "
                >
                    <router-link to="/danhmuc/iphone-moi-chinh-hang">
                        <span>{{ product.manufacturer }}</span>
                    </router-link>
                </li>
                <li
                    data-content=">"
                    class="
                        after:ml-2
                        after:content-[attr(data-content)]
                        last:after:content-[none]
                    "
                >
                    <router-link :to="$route.path">
                        <span>{{ product.name }}</span>
                    </router-link>
                </li>
            </ul>

            <div class="w-full mt-6 bg-white rounded-md">
                <div
                    class="
                        w-full
                        flex
                        justify-between
                        px-3
                        py-4
                        border-b border-gray-300
                        flex-col
                        md:flex-row
                    "
                >
                    <div class="">
                        <h1
                            class="
                                flex-grow
                                text-[16px]
                                lg:text-2xl
                                font-medium
                                text-black
                            "
                        >
                            {{ product.name }}
                        </h1>
                        <p class="text-yellow-500 mt-2">
                            <i
                                v-for="i in 5"
                                :key="i"
                                :class="{
                                    'bx bxs-star': i != 5,
                                    'bx bx-star': i == 5,
                                }"
                            ></i>
                        </p>
                    </div>

                    <div
                        class="
                            text-white
                            flex
                            h-[max-content]
                            space-x-4
                            justify-center
                        "
                    >
                        <button
                            class="
                                flex
                                items-center
                                space-x-1
                                md:space-x-2
                                px-2
                                md:px-3
                                md:py-1.5
                                rounded-md
                                bg-blue-500
                                hover:bg-blue-400
                                text-[12px]
                                md:text-[14px]
                                leading-[12px]
                                h-[25px]
                                md:h-[35px]
                            "
                        >
                            <i class="bx bxs-like"></i>
                            <span>Thích</span>
                        </button>
                        <button
                            class="
                                flex
                                items-center
                                space-x-1
                                md:space-x-2
                                px-2
                                md:px-3
                                md:py-1.5
                                rounded-md
                                bg-blue-500
                                hover:bg-blue-400
                                text-[12px]
                                md:text-[14px]
                                leading-[12px]
                                h-[25px]
                                md:h-[35px]
                            "
                        >
                            <i class="bx bxs-share"></i>
                            <span>Chia sẻ</span>
                        </button>
                    </div>
                </div>

                <div class="w-full p-3">
                    <div class="flex md:space-x-6 flex-col md:flex-row">
                        <div class="flex-none w-[100%] md:w-[40%]">
                            <div class="relative pt-[66%] md:pt-[110%]">
                                <div
                                    class="
                                        absolute
                                        w-full
                                        top-0
                                        left-0
                                        rounded-md
                                        border border-gray-300
                                        grid
                                        place-items-center
                                    "
                                >
                                    <img
                                        :src="product.img"
                                        alt=""
                                        class="
                                            w-2/3
                                            md:w-full
                                            rounded-md
                                            object-cover
                                        "
                                    />
                                </div>
                            </div>

                            <div class="w-full grid grid-cols-4 gap-3 mt-4">
                                <div
                                    class="
                                        p-2
                                        rounded-sm
                                        border border-gray-300
                                        text-center text-sm text-gray-800
                                        hover:text-red-500
                                        cursor-pointer
                                        flex flex-col
                                        justify-center
                                    "
                                >
                                    <p class="">
                                        <i class="bx bx-library text-3xl"></i>
                                    </p>
                                    Thư viện
                                </div>
                                <div
                                    class="
                                        p-2
                                        rounded-sm
                                        border border-gray-300
                                        text-center text-sm text-gray-800
                                        hover:text-red-500
                                        cursor-pointer
                                        flex flex-col
                                        justify-center
                                    "
                                >
                                    <p class="">
                                        <i class="bx bxs-videos text-3xl"></i>
                                    </p>
                                    Video
                                </div>
                                <div
                                    class="
                                        p-2
                                        rounded-sm
                                        border border-gray-300
                                        text-center text-sm text-gray-800
                                        hover:text-red-500
                                        cursor-pointer
                                        flex flex-col
                                        justify-center
                                    "
                                >
                                    <p class="">
                                        <i class="bx bx-news text-3xl"></i>
                                    </p>
                                    Tin tức
                                </div>
                                <div
                                    class="
                                        p-2
                                        rounded-sm
                                        border border-gray-300
                                        text-center text-sm text-gray-800
                                        hover:text-red-500
                                        cursor-pointer
                                        flex flex-col
                                        justify-center
                                    "
                                >
                                    <p class="text-3xl">
                                        <i
                                            class="bx bx-message-square-detail"
                                        ></i>
                                    </p>
                                    Đánh giá
                                </div>
                            </div>

                            <p class="w-full mt-4 font-poppins p-1 text-[15px]">
                                <span class="font-semibold text-[17px]"
                                    >Mô tả sản phẩm:
                                </span>
                                Máy cũ nguyên bản, chưa sửa chữa hình thức đẹp
                                99% như mới. Cam kết không bán hàng thay vỏ, ép
                                kính. Máy trần chưa phụ kiện
                            </p>
                        </div>
                        <div class="flex-none w-full md:w-1/3 mt-2 md:mt-0">
                            <div class="w-full">
                                <img
                                    src="/roivo.jpg"
                                    alt=""
                                    class="w-full max-h-[80px] object-cover"
                                />
                            </div>

                            <p class="flex items-start mt-4">
                                <span
                                    class="
                                        text-lg
                                        md:text-xl
                                        lg:text-3xl
                                        font-black
                                        text-red-500
                                        mr-4
                                    "
                                    >{{ product.price }}</span
                                >
                                <span
                                    v-if="product.priceOld !== ''"
                                    class="
                                        text-gray-600
                                        line-through
                                        text-[10px]
                                        md:text-[12px]
                                        lg:text-[14px]
                                    "
                                    >{{ product.priceOld }}</span
                                >
                            </p>

                            <p class="text-green-500 text-[12px] md:text-sm">
                                <i
                                    class="
                                        bx bx-chevrons-right
                                        text-xl
                                        translate-y-1
                                    "
                                ></i>
                                <span class="mr-2"
                                    >Clickbuy Now - Giao hàng siêu tốc 2h</span
                                >
                                <span class="text-blue-500 cursor-pointer"
                                    >Chi tiết</span
                                >
                            </p>

                            <div class="grid grid-cols-3 gap-4 mt-4">
                                <div
                                    class="
                                        md:px-2
                                        py-1
                                        shadow
                                        rounded
                                        bg-white
                                        flex flex-col
                                        text-center text-[10px]
                                        sm:text-[14px]
                                        md:text-sm
                                        border border-gray-300
                                        hover:border-red-300
                                        cursor-pointer
                                    "
                                >
                                    <p class="text-gray-800 font-semibold">
                                        Space Gray
                                    </p>
                                    <p class="text-red-500 line-through">
                                        23,190,000 ₫
                                    </p>
                                    <p class="text-red-500">19,190,000 ₫</p>
                                </div>
                                <div
                                    class="
                                        py-1
                                        md:px-2
                                        text-[10px]
                                        sm:text-[14px]
                                        md:text-sm
                                        shadow
                                        rounded
                                        bg-white
                                        flex flex-col
                                        text-center
                                        border border-gray-300
                                        hover:border-red-300
                                        cursor-pointer
                                    "
                                >
                                    <p class="text-gray-800 font-semibold">
                                        Gold
                                    </p>
                                    <p class="text-red-500 line-through">
                                        24,390,000 ₫
                                    </p>
                                    <p class="text-red-500">20,190,000 ₫</p>
                                </div>
                                <div
                                    class="
                                        md:px-2
                                        text-[10px]
                                        sm:text-[14px]
                                        md:text-sm
                                        py-1
                                        shadow
                                        rounded
                                        bg-white
                                        flex flex-col
                                        text-center
                                        border border-gray-300
                                        hover:border-red-300
                                        cursor-pointer
                                    "
                                >
                                    <p class="text-gray-800 font-semibold">
                                        Midnight Green
                                    </p>
                                    <p class="text-red-500 line-through">
                                        21,190,000 ₫
                                    </p>
                                    <p class="text-red-500">18,190,000 ₫</p>
                                </div>
                                <div
                                    class="
                                        md:px-2
                                        text-[10px]
                                        sm:text-[14px]
                                        md:text-sm
                                        py-1
                                        shadow
                                        rounded
                                        bg-white
                                        flex flex-col
                                        text-center
                                        border border-gray-300
                                        hover:border-red-300
                                        cursor-pointer
                                    "
                                >
                                    <p class="text-gray-800 font-semibold">
                                        Sliver
                                    </p>
                                    <p class="text-red-500 line-through">
                                        24,190,000 ₫
                                    </p>
                                    <p class="text-red-500">10,190,000 ₫</p>
                                </div>
                            </div>

                            <p class="w-full font-medium my-4">
                                Phiên bản khác
                            </p>

                            <div class="grid grid-cols-3 gap-4">
                                <div
                                    class="
                                        px-2
                                        py-1
                                        shadow
                                        rounded
                                        bg-white
                                        flex flex-col
                                        text-center
                                        md:text-sm
                                        text-[10px]
                                        sm:text-[14px]
                                        border border-gray-300
                                        hover:border-red-300
                                        cursor-pointer
                                    "
                                >
                                    <p class="text-gray-800 font-semibold">
                                        64GB
                                    </p>
                                    <p class="text-red-500">17,990,000 ₫</p>
                                </div>
                                <div
                                    class="
                                        px-2
                                        py-1
                                        shadow
                                        rounded
                                        bg-white
                                        flex flex-col
                                        text-center
                                        md:text-sm
                                        text-[10px]
                                        sm:text-[14px]
                                        border border-gray-300
                                        hover:border-red-300
                                        cursor-pointer
                                    "
                                >
                                    <p class="text-gray-800 font-semibold">
                                        256GB
                                    </p>
                                    <p class="text-red-500">19,990,000 ₫</p>
                                </div>
                                <div
                                    class="
                                        px-2
                                        py-1
                                        shadow
                                        rounded
                                        bg-white
                                        flex flex-col
                                        text-center
                                        md:text-sm
                                        text-[10px]
                                        sm:text-[14px]
                                        border border-gray-300
                                        hover:border-red-300
                                        cursor-pointer
                                    "
                                >
                                    <p class="text-gray-800 font-semibold">
                                        512GB
                                    </p>
                                    <p class="text-red-500">20,790,000 ₫</p>
                                </div>
                            </div>

                            <select
                                name=""
                                class="
                                    w-full
                                    bg-gray-100
                                    border border-gray-300
                                    px-2
                                    py-1
                                    relative
                                    rounded
                                    mt-4
                                "
                            >
                                <option value="1" class="">
                                    Bảo hành 6 tháng
                                </option>
                                <option value="1" class="">
                                    1 đổi 1 trong 12 tháng (1,200,000) ₫
                                </option>
                            </select>

                            <div
                                class="
                                    w-full
                                    rounded-md
                                    border border-gray-400
                                    mt-6
                                "
                            >
                                <div
                                    class="
                                        w-full
                                        p-3
                                        uppercase
                                        border-b border-gray-400
                                    "
                                >
                                    khuyến mãi
                                </div>
                                <div
                                    class="
                                        h-36
                                        flex flex-col
                                        space-y-2
                                        overflow-y-auto
                                        p-3
                                        text-sm
                                    "
                                >
                                    <div
                                        class="
                                            w-full
                                            flex
                                            space-x-2
                                            items-start
                                        "
                                    >
                                        <i
                                            class="
                                                bx
                                                bxs-gift
                                                text-red-600 text-base
                                                -translate-y-0.5
                                            "
                                        ></i>
                                        <span class="text-green-800"
                                            >Giao hàng siêu tốc miễn phí nội
                                            thành Hà Nội trong 2h</span
                                        >
                                    </div>
                                    <div
                                        class="
                                            w-full
                                            flex
                                            space-x-2
                                            items-start
                                        "
                                    >
                                        <i
                                            class="
                                                bx
                                                bxs-gift
                                                text-red-600 text-base
                                                -translate-y-0.5
                                            "
                                        ></i>
                                        <span class="text-gray-700"
                                            >Miễn phí ship hàng COD toàn
                                            quốc</span
                                        >
                                    </div>
                                    <div
                                        class="
                                            w-full
                                            flex
                                            space-x-2
                                            items-start
                                        "
                                    >
                                        <i
                                            class="
                                                bx
                                                bxs-gift
                                                text-red-600 text-base
                                                -translate-y-0.5
                                            "
                                        ></i>
                                        <span class="text-gray-700"
                                            >Mua kèm Apple AirTag chỉ với
                                            750.000đ</span
                                        >
                                    </div>
                                    <div
                                        class="
                                            w-full
                                            flex
                                            space-x-2
                                            items-start
                                        "
                                    >
                                        <i
                                            class="
                                                bx
                                                bxs-gift
                                                text-red-600 text-base
                                                -translate-y-0.5
                                            "
                                        ></i>
                                        <span class="text-gray-700">
                                            Thu cũ đổi mới – Giá thu cũ cao
                                            <span
                                                class="
                                                    text-emerald-800
                                                    cursor-pointer
                                                "
                                                >( chi tiết)</span
                                            >
                                        </span>
                                    </div>
                                    <div
                                        class="
                                            w-full
                                            flex
                                            space-x-2
                                            items-start
                                        "
                                    >
                                        <i
                                            class="
                                                bx
                                                bxs-gift
                                                text-red-600 text-base
                                                -translate-y-0.5
                                            "
                                        ></i>
                                        <span class="text-gray-700"
                                            >Tặng sim ghép thần thánh ( máy
                                            lock)</span
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="w-full flex flex-col space-y-3 mt-4">
                                <button
                                    class="
                                        w-full
                                        flex
                                        space-x-3
                                        items-center
                                        justify-center
                                        bg-red-600
                                        text-white
                                        hover:bg-red-800
                                        rounded-md
                                        px-1
                                        py-2
                                    "
                                >
                                    <i class="bx bxs-cart-alt text-3xl"></i>
                                    <p class="uppercase text-left">
                                        <span class="text-base font-medium"
                                            >mua ngay</span
                                        >
                                        <span class="block text-xs"
                                            >giao hàng tận nơi</span
                                        >
                                    </p>
                                </button>
                                <div class="flex space-x-2">
                                    <button
                                        class="
                                            flex-1 flex
                                            space-x-3
                                            items-center
                                            justify-center
                                            bg-amber-600
                                            text-white
                                            hover:bg-amber-800
                                            rounded-md
                                            px-1
                                            py-2
                                        "
                                    >
                                        <i
                                            class="
                                                bx
                                                bxs-credit-card-front
                                                text-3xl
                                            "
                                        ></i>
                                        <p class="uppercase text-left">
                                            <span class="text-base font-medium"
                                                >trả góp</span
                                            >
                                            <span class="block text-xs"
                                                >qua cty tài chính</span
                                            >
                                        </p>
                                    </button>
                                    <button
                                        class="
                                            flex-1 flex
                                            space-x-3
                                            items-center
                                            justify-center
                                            bg-emerald-600
                                            text-white
                                            hover:bg-emerald-800
                                            rounded-md
                                            px-1
                                            py-2
                                        "
                                    >
                                        <i
                                            class="
                                                bx
                                                bxs-credit-card-alt
                                                text-3xl
                                            "
                                        ></i>
                                        <p class="uppercase text-left">
                                            <span class="text-base font-medium"
                                                >trả góp 0%</span
                                            >
                                            <span class="block text-xs"
                                                >qua thẻ tín dụng</span
                                            >
                                        </p>
                                    </button>
                                </div>

                                <div
                                    class="
                                        rounded-md
                                        border border-gray-300
                                        focus-within:border-blue-500
                                    "
                                >
                                    <input
                                        type="text"
                                        placeholder="Tư vấn qua số điện thoại"
                                        class="px-3 py-2 rounded-t-md"
                                    />
                                    <button
                                        class="
                                            w-full
                                            text-center
                                            rounded-b-md
                                            bg-sky-800
                                            text-white
                                            px-3
                                            flex
                                            space-x-3
                                            items-center
                                            justify-center
                                            py-1
                                            uppercase
                                        "
                                    >
                                        <i class="bx bxs-phone text-3xl"></i>
                                        Đăng ký
                                    </button>
                                </div>

                                <div
                                    class="
                                        rounded-md
                                        bg-gray-100
                                        px-4
                                        py-2
                                        text-center text-sm
                                        border border-gray-300
                                    "
                                >
                                    Gọi
                                    <span class="text-red-600 font-medium"
                                        >096.606.2468</span
                                    >
                                    hoặc
                                    <span class="text-red-600 font-medium"
                                        >0246.328.9494</span
                                    >
                                    để được tư vấn (Từ 8:00-22:00)
                                </div>
                            </div>
                        </div>

                        <!-- ROW -->
                        <div
                            class="flex-grow flex flex-col space-y-8 py-4"
                            style="font-family: 'Helvetica'"
                        >
                            <div
                                class="
                                    w-full
                                    rounded-md
                                    border border-gray-300
                                    relative
                                    px-3
                                    py-5
                                "
                            >
                                <div
                                    class="
                                        absolute
                                        left-3
                                        top-0
                                        -translate-y-1/2
                                        px-2
                                        py-0.5
                                        uppercase
                                        border border-gray-300
                                        text-xs
                                        bg-white
                                    "
                                >
                                    clickbuy cam kết
                                </div>
                                <div
                                    class="
                                        w-full
                                        flex flex-col
                                        space-y-3
                                        max-h-44
                                        overflow-y-auto
                                        pr-1
                                    "
                                >
                                    <p class="flex space-x-3 text-sm">
                                        <i
                                            class="
                                                bx
                                                bxs-like
                                                text-green-500 text-lg
                                                -translate-y-1
                                            "
                                        ></i>
                                        <span class="text-red-600 font-medium">
                                            Bảo hành phần cứng trọn đời khi mua
                                            iPhone cũ
                                            <span
                                                class="
                                                    text-emerald-600
                                                    font-normal
                                                "
                                                >(chi tiết)</span
                                            >
                                        </span>
                                    </p>
                                    <p class="flex space-x-3 text-sm">
                                        <i
                                            class="
                                                bx
                                                bxs-like
                                                text-green-500 text-lg
                                                -translate-y-1
                                            "
                                        ></i>
                                        <span class="text-red-600 font-medium">
                                            Hỗ trợ sửa chữa miễn phí nếu máy rơi
                                            vỡ vào nước
                                            <span
                                                class="
                                                    text-emerald-600
                                                    font-normal
                                                "
                                                >(chi tiết)</span
                                            >
                                        </span>
                                    </p>
                                    <p class="flex space-x-3 text-sm">
                                        <i
                                            class="
                                                bx
                                                bxs-like
                                                text-green-500 text-lg
                                                -translate-y-1
                                            "
                                        ></i>
                                        <span class="">
                                            Tất cả iPhone cũ|TBH bán ra đều cam
                                            kết máy
                                            <span
                                                class="text-red-600 font-medium"
                                            >
                                                đẹp – Nguyên bản – Không bán
                                                hàng ép kính – Thay vỏ
                                            </span>
                                            – tất cả iPhone cũ|TBH đều đã được
                                            mở máy kiểm tra zin. Khách hàng có
                                            thể mở máy tại shop để check
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div
                                class="
                                    w-full
                                    rounded-md
                                    border border-gray-300
                                    relative
                                    px-3
                                    py-5
                                "
                            >
                                <div
                                    class="
                                        absolute
                                        left-3
                                        top-0
                                        -translate-y-1/2
                                        px-2
                                        py-0.5
                                        uppercase
                                        border border-gray-300
                                        text-xs
                                        bg-white
                                    "
                                >
                                    hệ thống cửa hàng
                                </div>
                                <div
                                    class="
                                        w-full
                                        flex flex-col
                                        space-y-3
                                        max-h-44
                                        overflow-y-auto
                                        pr-1
                                    "
                                >
                                    <p class="flex space-x-3 text-sm">
                                        <i
                                            class="
                                                bx
                                                bxs-map-alt
                                                text-green-500 text-lg
                                                -translate-y-1
                                            "
                                        ></i>
                                        <span>
                                            111 Trần Đăng Ninh, Cầu Giấy, Hà Nội
                                            (09.7673.2468)
                                        </span>
                                    </p>
                                    <p class="flex space-x-3 text-sm">
                                        <i
                                            class="
                                                bx
                                                bxs-map-alt
                                                text-green-500 text-lg
                                                -translate-y-1
                                            "
                                        ></i>
                                        <span>
                                            446 Xã Đàn, Đống Đa, Hà Nội
                                            (096.111.2468)
                                        </span>
                                    </p>
                                    <p class="flex space-x-3 text-sm">
                                        <i
                                            class="
                                                bx
                                                bxs-map-alt
                                                text-green-500 text-lg
                                                -translate-y-1
                                            "
                                        ></i>
                                        <span>
                                            118 Thái hà, Đống Đa, Hà Nội
                                            (096.424.2468)
                                        </span>
                                    </p>
                                    <p class="flex space-x-3 text-sm">
                                        <i
                                            class="
                                                bx
                                                bxs-map-alt
                                                text-green-500 text-lg
                                                -translate-y-1
                                            "
                                        ></i>
                                        <span>
                                            312 Nguyễn Trãi, Trung Văn, Nam Từ
                                            Liêm, Hà Nội – Gần chợ Phùng Khoang
                                            (094.698.2468)
                                        </span>
                                    </p>
                                    <p class="flex space-x-3 text-sm">
                                        <i
                                            class="
                                                bx
                                                bxs-map-alt
                                                text-green-500 text-lg
                                                -translate-y-1
                                            "
                                        ></i>
                                        <span>
                                            380 Trần Phú, Ba Đình, TP.Thanh Hóa
                                            (096914.2468)
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- END-ROW -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            product: null,
        }
    },
    // computed:{
    //   product(){
    //     // console.log(this.$store.state.product);
    //     return this.$store.state.product
    //   }
    // },
    created() {
        //  this.$store.dispatch("fetchProduct",{id: this.$route.params.id.split("-")[0] })
        axios
            .get(
                'http://localhost:3001/promotions/' +
                    this.$route.params.id.split('-')[1]
            )
            .then((response) => {
                this.product = response.data
                // console.log(this.products);
                console.log(this.$route.path)
            })
            .catch((e) => {
                this.errors.push(e)
            })
    },
}
</script>

<style scoped>
</style>
