<template>
    <div class="w-full">
        <div class="w-full bg-red-600 text-center text-white text-xl py-2">
            KHUYẾN MÃI HOT
        </div>
        <div
            class="
                w-full
                border-b border-r border-l
                shadow
                border-gray-400
                bg-white
                py-5
            "
        >
            <swiper
                class="w-full"
                :slides-per-view="auto"
                :spaceBetween="2"
                @swiper="onSwiper"
                @slideChange="onSlideChange"
                :navigation="{
                    nextEl: '#button-next-relacionados',
                    prevEl: '#button-prev-relacionados',
                }"
                :breakpoints="{
                    '640': {
                        slidesPerView: '2',
                        spaceBetween: '0',
                    },
                    '768': {
                        slidesPerView: '3',
                        spaceBetween: '0',
                    },
                    '1024': {
                        slidesPerView: '5',
                        spaceBetween: '0',
                    },
                }"
            >
                <template
                    v-for="(product, index) in products"
                    :key="index"
                    class="w-full max-w-1/5"
                >
                    <swiper-slide>
                        <div
                            class="
                                w-full
                                px-8
                                md:px-0
                                flex
                                justify-center
                                mx-auto
                            "
                        >
                            <!-- ITEM -->
                            <router-link
                                :to="{
                                    name: 'product',
                                    params: {
                                        id: `${product.name}-${product.id}`,
                                    },
                                }"
                                class="
                                    flex flex-col
                                    justify-center
                                    cursor-pointer
                                    group
                                "
                            >
                                <div class="relative">
                                    <img
                                        :src="product.img"
                                        alt=""
                                        class="
                                            hover:transform
                                            hover:translate-y-[-10px]
                                            transition-all
                                            duration-300
                                            ease-in-out
                                            mx-auto
                                        "
                                    />
                                    <div
                                        class="
                                            absolute
                                            top-1
                                            right-2
                                            text-[10px] text-white
                                            bg-orange-400
                                            max-w-max
                                            py-[3px]
                                            rounded
                                            px-1
                                        "
                                        v-if="product.installment !== ''"
                                    >
                                        {{ product.installment }}
                                    </div>
                                    <div
                                        class="
                                            absolute
                                            top-1
                                            left-2
                                            text-[10px] text-white
                                            bg-green-500
                                            max-w-max
                                            py-[3px]
                                            rounded
                                            px-1
                                        "
                                        v-if="product.dictation !== ''"
                                    >
                                        {{ product.dictation }}
                                    </div>
                                </div>
                                <div class="px-2 w-full space-y-2">
                                    <div
                                        class="
                                            flex
                                            items-center
                                            space-x-2
                                            text-base
                                            bg-yellow-300
                                            rounded-lg
                                            w-full
                                            max-w-max
                                            px-2
                                        "
                                    >
                                        <div class="w-[20px]">
                                            <img src="logo.svg" alt="" />
                                        </div>
                                        <div
                                            class="
                                                text-red-500 text-sm
                                                font-semibold
                                            "
                                        >
                                            <span
                                                class="
                                                    text-black text-sm
                                                    font-semibold
                                                "
                                                >Giảm</span
                                            >
                                            {{ product.sale }}
                                        </div>
                                    </div>

                                    <div class="flex w-full">
                                        <div
                                            class="
                                                w-[18px]
                                                rounded-full
                                                h-[18px]
                                                overflow-hidden
                                            "
                                        >
                                            <img
                                                src="Khuyenmai/giaohang.webp"
                                                alt=""
                                                class="
                                                    w-full
                                                    h-full
                                                    object-cover
                                                "
                                            />
                                        </div>
                                        <div class="text-sm text-green-600">
                                            {{ product.brand }}
                                        </div>
                                    </div>

                                    <div
                                        class="
                                            text-gray-800 text-sm
                                            font-normal
                                            hover:text-blue-500
                                            h-[40px]
                                        "
                                    >
                                        {{ product.name }}
                                    </div>

                                    <div
                                        class="
                                            flex
                                            text-sm
                                            space-x-2
                                            items-center
                                            mt-6
                                        "
                                    >
                                        <div class="text-red-500 font-medium">
                                            {{ product.price }}
                                        </div>
                                        <div
                                            class="
                                                text-gray-700 text-sm
                                                line-through
                                            "
                                        >
                                            {{ product.priceOld }}
                                        </div>
                                    </div>

                                    <div
                                        class="
                                            flex
                                            text-sm
                                            space-x-2
                                            items-center
                                        "
                                    >
                                        <div class="">
                                            <i
                                                :class="product.star"
                                                class="text-yellow-400"
                                            >
                                            </i>
                                            <i
                                                :class="product.star"
                                                class="text-yellow-400"
                                            >
                                            </i>
                                            <i
                                                :class="product.star"
                                                class="text-yellow-400"
                                            >
                                            </i>
                                            <i
                                                :class="product.star"
                                                class="text-yellow-400"
                                            >
                                            </i>
                                            <i
                                                :class="product.star"
                                                class="text-gray-300"
                                            >
                                            </i>
                                        </div>
                                        <div
                                            class="
                                                tranform
                                                translate-y-[1px]
                                                text-xs
                                                font-light
                                            "
                                        >
                                            {{ product.evaluate }}
                                        </div>
                                    </div>
                                </div>
                            </router-link>
                            <!-- END-ITEM -->
                        </div>
                    </swiper-slide>
                </template>

                <div
                    id="button-prev-relacionados"
                    class="swiper-button-prev swiper-button-white"
                >
                    <i class="bx bxs-chevron-left"></i>
                </div>
                <div
                    id="button-next-relacionados"
                    class="swiper-button-next swiper-button-white"
                >
                    <i class="bx bxs-chevron-right"></i>
                </div>
            </swiper>
        </div>
    </div>
</template>

<script>
import SwiperCore, { Navigation, Autoplay } from 'swiper/core'
import { Swiper, SwiperSlide } from 'swiper/vue'
SwiperCore.use([Navigation, Autoplay])
import 'swiper/swiper-bundle.min.css'
import axios from 'axios'
export default {
    data() {
        return {
            products: [],
            results: [],
            mySwiper: null,
            c: [],
        }
    },
    created() {
        axios
            .get(`http://localhost:3001/promotions`)
            .then((response) => {
                // console.log(response)
                this.results = response.data
            })
            .then(() => {
                // console.log(this.results)
                this.products = this.results.filter((product) => {
                    return product.promotion.toLowerCase() === 'yes'
                })
            })
            .then(() => {
                this.products = this.products.sort(() => Math.random() - 0.5)
            })
            .catch((e) => {
                this.errors.push(e)
            })
    },
    components: {
        Swiper,
        SwiperSlide,
    },
    methods: {
        onSwiper(swiper) {
            this.mySwiper = swiper
        },
        onSlideChange() {
            // console.log('slide change');
        },
        formatNameRoute(name) {
            return name.trim().split('[\\s@&.?$+-]+').join('-')
        },
    },
    computed: {},
}
</script>

<style scoped>
#button-prev-relacionados::after,
#button-next-relacionados::after {
    content: '';
    color: transparent;
}
#button-prev-relacionados,
#button-next-relacionados {
    width: 30px;
    height: 70px;
    background: red;
    border-radius: 4px;
}
.bx.bxs-chevron-left,
.bx.bxs-chevron-right {
    color: white;
    font-size: 30px;
    border-radius: 4px;
}
#button-next-relacionados.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 0;
}
#button-prev-relacionados.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 0;
}
.swiper-button-disabled {
    display: none;
}
.swiper-button-next[data-v-4246b36a],
.swiper-button-prev[data-v-4246b36a] {
    min-width: 30px;
    height: 50px;
}
</style>
