<template>
    <div class="w-full bg-white shadow">
        <div
            class="
                w-full
                flex flex-col
                md:flex-row
                justify-between
                items-center
                py-4
            "
        >
            <div class="font-medium text-xl md:ml-3 whitespace-nowrap">
                MÁY TÍNH BẢNG
            </div>
            <div
                class="w-full lg:max-w-[670px] md:mr-4 overflow-x-auto mx-auto"
            >
                <ul
                    class="
                        bg-white
                        flex
                        sm:justify-center
                        text-xs text-white
                        space-x-2
                        md:justify-end
                    "
                >
                    <li
                        class="
                            max-w-max
                            px-4
                            bg-red-600
                            whitespace-nowrap
                            h-full
                            py-2
                            rounded-md
                            cursor-pointer
                        "
                    >
                        <span> iPad Pro </span>
                    </li>
                    <li
                        class="
                            max-w-max
                            px-4
                            bg-red-600
                            whitespace-nowrap
                            h-full
                            py-2
                            rounded-md
                            cursor-pointer
                        "
                    >
                        <span> iPad Gen </span>
                    </li>
                    <li
                        class="
                            max-w-max
                            px-4
                            bg-red-600
                            whitespace-nowrap
                            h-full
                            py-2
                            rounded-md
                            cursor-pointer
                        "
                    >
                        <span> iPad Air </span>
                    </li>
                    <li
                        class="
                            max-w-max
                            px-4
                            bg-red-600
                            whitespace-nowrap
                            h-full
                            py-2
                            rounded-md
                            cursor-pointer
                        "
                    >
                        <span> iPad Mini </span>
                    </li>
                    <li
                        class="
                            max-w-max
                            px-4
                            bg-red-600
                            whitespace-nowrap
                            h-full
                            py-2
                            rounded-md
                            cursor-pointer
                        "
                    >
                        <span> Samsung tab </span>
                    </li>
                </ul>
            </div>
        </div>
        <div
            class="
                w-full
                grid grid-cols-2
                sm:grid-cols-2
                md:grid-cols-3
                xl:grid-cols-5
                bg-white
                border-t border-gray-100
            "
        >
            <router-link
                :to="{
                    name: 'product',
                    params: {
                        id: `${product.name}-${product.id}`,
                    },
                }"
                data-aos-duration="1200"
                data-aos="fade"
                class="
                    w-full
                    product
                    border-b border-gray-100
                    outline-none
                    focus:outline-none
                    sm:border-r
                    hover:test
                    group
                "
                v-for="(product, index) in products"
                :key="index"
            >
                <div class="w-full mx-auto py-6 flex justify-center">
                    <div class="cursor-pointer group relative">
                        <div class="w-max-w w-full relative mx-auto">
                            <img
                                :src="product.img"
                                alt=""
                                class="
                                    group-hover:transform
                                    group-hover:translate-y-[-10px]
                                    transition-all
                                    duration-300
                                    ease-in-out
                                    px-2
                                "
                            />
                            <div
                                class="
                                    absolute
                                    top-1
                                    right-2
                                    text-[10px] text-white
                                    bg-orange-400
                                    max-w-max
                                    py-[3px]
                                    rounded
                                    px-1
                                "
                                v-if="product.installment !== ''"
                            >
                                {{ product.installment }}
                            </div>
                            <div
                                class="
                                    absolute
                                    top-1
                                    left-2
                                    text-[10px] text-white
                                    bg-green-500
                                    max-w-max
                                    py-[3px]
                                    rounded
                                    px-1
                                "
                                v-if="product.dictation !== ''"
                            >
                                {{ product.dictation }}
                            </div>
                        </div>
                        <div class="md:px-2 w-full space-y-2 ml-1 sm:ml-0">
                            <div
                                class="
                                    flex
                                    items-center
                                    space-x-2
                                    bg-yellow-300
                                    rounded-lg
                                    w-full
                                    max-w-max
                                    px-2
                                "
                            >
                                <div class="w-[20px]">
                                    <img src="logo.svg" alt="" />
                                </div>
                                <div
                                    class="
                                        text-red-500 text-xs
                                        sm:text-sm
                                        font-semibold
                                    "
                                >
                                    <span
                                        class="
                                            text-black text-xs
                                            sm:text-sm
                                            font-semibold
                                        "
                                        >Giảm</span
                                    >
                                    {{ product.sale }}
                                </div>
                            </div>
                            <div class="flex w-full -ml-3 sm:ml-0 px-2 sm:px-0">
                                <div class="w-[25px]">
                                    <img
                                        src="giaohang.webp"
                                        alt=""
                                        class="w-full object-cover select-none"
                                    />
                                </div>
                                <div class="text-xs sm:text-sm text-green-600">
                                    {{ product.brand }}
                                </div>
                            </div>

                            <div
                                class="
                                    text-gray-800 text-xs
                                    sm:text-sm
                                    font-normal
                                    hover:text-blue-500
                                    -ml-1
                                    sm:ml-0
                                    px-1
                                    sm:px-0
                                "
                            >
                                {{ product.name }}
                            </div>

                            <div
                                class="
                                    flex
                                    text-xs
                                    sm:text-sm
                                    space-x-1
                                    sm:space-x-2
                                    items-center
                                "
                            >
                                <div class="text-red-500 font-medium">
                                    {{ product.price }}
                                </div>
                                <div
                                    class="
                                        text-gray-700 text-xs
                                        sm:text-sm
                                        line-through
                                    "
                                >
                                    {{ product.priceOld }}
                                </div>
                            </div>

                            <div
                                class="
                                    flex
                                    text-xs
                                    sm:text-sm
                                    space-x-1
                                    sm:space-x-2
                                    items-center
                                "
                            >
                                <div class="">
                                    <i
                                        :class="product.star"
                                        class="text-yellow-400"
                                    >
                                    </i>
                                    <i
                                        :class="product.star"
                                        class="text-yellow-400"
                                    >
                                    </i>
                                    <i
                                        :class="product.star"
                                        class="text-yellow-400"
                                    >
                                    </i>
                                    <i
                                        :class="product.star"
                                        class="text-yellow-400"
                                    >
                                    </i>
                                    <i
                                        :class="product.star"
                                        class="text-gray-300"
                                    >
                                    </i>
                                </div>
                                <div
                                    class="
                                        tranform
                                        translate-y-[1px]
                                        text-xs
                                        font-light
                                    "
                                >
                                    {{ product.evaluate }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            products: [],
            results: [],
        }
    },
    created() {
        axios
            .get(`http://localhost:3001/promotions`)
            .then((response) => {
                this.results = response.data
            })
            .then(() => {
                this.products = this.results.filter((product) => {
                    return (
                        product.manufacturer.toLowerCase() === 'tablet' &&
                        product.status.toLowerCase() === 'tabletnoibat'
                    )
                })
            })
            .catch((e) => {
                this.errors.push(e)
            })
    },
}
</script>

<style scoped>
@media (min-width: 640px) and (max-width: 767px) {
    .product:nth-child(2n) {
        border-right: none;
    }
}
@media (min-width: 768px) and (max-width: 1279px) {
    .product:nth-child(3n) {
        border-right: none;
    }
}
@media (min-width: 1280px) {
    .product:nth-child(5n) {
        border-right: none;
    }
}
</style>
