<template>
    <div class="flex flex-col justify-center items-center mb-[15px]">
        <nav id="navbar" class="w-full py-2 bg-red-600 flex justify-between">
            <div
                class="
                    w-full
                    h-full
                    flex
                    items-center
                    justify-center
                    max-w-[1140px]
                    space-x-4
                    px-4
                    md:px-20
                    lg:px-10
                    xl:px-0
                    mx-auto
                "
            >
                <div class="">
                    <div
                        class="
                            hidden
                            lg:block
                            lg:w-[130px]
                            lg:transform
                            lg:translate-y-[-20px]
                            xl:translate-y-0
                        "
                    >
                        <router-link to="/" style="background: none">
                            <img
                                src="/clickbuy.png"
                                alt=""
                                class="w-full object-cover"
                            />
                        </router-link>
                    </div>
                    <div class="lg:hidden w-[40px]">
                        <router-link to="/" style="background: none">
                            <img
                                src="/clickbuy-mlogo.png"
                                alt=""
                                class="w-full object-cover"
                            />
                        </router-link>
                    </div>
                </div>
                <div
                    class="
                        min-w-[290px]
                        h-[36px]
                        bg-white
                        rounded
                        hidden
                        lg:block
                        transform
                        lg:translate-y-[-20px]
                        xl:translate-y-0
                    "
                >
                    <div class="w-full h-full relative">
                        <input
                            type="text"
                            class="
                                w-full
                                h-full
                                focus:outline-none
                                ring-0 ring-blue-500
                                focus:ring-2
                                pl-[90px]
                                pr-10
                                rounded
                            "
                            placeholder="Bạn cần tìm gì..."
                        />
                        <div
                            class="
                                absolute
                                top-0
                                left-0
                                bottom-0
                                bg-gray-300
                                rounded-l
                            "
                        >
                            <div
                                class="
                                    relative
                                    flex
                                    justify-center
                                    items-center
                                    w-full
                                    h-full
                                    border-r
                                    px-1
                                    border-gray-400
                                    cursor-pointer
                                    group
                                "
                            >
                                <div
                                    class="
                                        gia
                                        text-sm
                                        w-[70px]
                                        px-[2px]
                                        text-gray-800 text-center
                                    "
                                >
                                    {{ locations[index].name }}
                                </div>
                                <div
                                    class="
                                        absolute
                                        top-full
                                        left-4
                                        tamgiac
                                        invisible
                                        opacity-0
                                        group-hover:visible
                                        group-hover:opacity-100
                                        transition-all
                                        duration-300
                                        ease-in-out
                                        change_lotical
                                    "
                                    :class="{ active: isLocal }"
                                ></div>
                                <div
                                    class="
                                        absolute
                                        top-[120%]
                                        left-0
                                        bg-gray-100
                                        w-[200px]
                                        shadow
                                        rounded
                                        nvisible
                                        opacity-0
                                        group-hover:visible
                                        group-hover:opacity-100
                                        transition-all
                                        duration-300
                                        ease-in-out
                                        py-[4px]
                                        change_lotical
                                    "
                                    :class="{ active: isLocal }"
                                >
                                    <div
                                        class="
                                            px-2
                                            space-x-1
                                            cursor-pointer
                                            hover:bg-gray-300
                                            text-sm
                                        "
                                        v-for="location in locations"
                                        :key="location.id"
                                        @click="changeLocial(location.id)"
                                    >
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>{{ location.location }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="
                                absolute
                                top-0
                                right-2
                                bottom-0
                                cursor-pointer
                                flex
                                items-center
                            "
                        >
                            <i class="bx bx-search text-gray-800 text-xl"></i>
                        </div>
                    </div>
                </div>
                <div
                    class="
                        lg:flex lg:flex-row
                        lg:justify-center
                        xl:items-center
                        w-full
                        h-full
                        hidden
                    "
                >
                    <div
                        class="
                            lg:grid lg:grid-cols-7
                            xl:flex
                            xl:justify-center
                            xl:items-center
                            w-full
                            h-full
                            text-white text-[10px]
                            relative
                        "
                    >
                        <div
                            class="
                                relative
                                w-full
                                self-stretch
                                group
                                hover:bg-gray-200
                                hover:text-black
                            "
                        >
                            <router-link
                                to="/danhmuc/iphone-moi-chinh-hang"
                                class="link"
                            >
                                <div
                                    class="
                                        flex flex-col
                                        justify-center
                                        items-center
                                        h-full
                                        w-full
                                        px-2
                                        py-2
                                        lg:transform
                                        translate-y-[-1px]
                                    "
                                >
                                    <i class="bx bxl-apple text-xl"></i>
                                    <span class="whitespace-nowrap"
                                        >IPHONE</span
                                    >
                                </div>
                            </router-link>
                            <div
                                class="
                                    lg:invisible
                                    hidden
                                    lg:flex
                                    opacity-0
                                    absolute
                                    top-full
                                    left-0
                                    w-[250px]
                                    bg-white
                                    shadow
                                    z-10
                                    lg:group-hover:visible
                                    lg:group-hover:opacity-100
                                    transition-all
                                    duration-300
                                    ease-in-out
                                "
                            >
                                <ul
                                    class="
                                        flex flex-col
                                        justify-around
                                        w-full
                                        py-4
                                        mx-4
                                        space-y-4
                                    "
                                >
                                    <li>
                                        <span
                                            class="
                                                text-sm text-gray-700
                                                cursor-pointer
                                                block
                                                hover:text-red-500
                                            "
                                        >
                                            iPhone 12 Series
                                        </span>
                                    </li>
                                    <li>
                                        <span
                                            class="
                                                text-sm text-gray-700
                                                cursor-pointer
                                                block
                                                hover:text-red-500
                                            "
                                        >
                                            iPhone 11 Pro|Pro Max
                                        </span>
                                    </li>
                                    <li>
                                        <span
                                            class="
                                                text-sm text-gray-700
                                                cursor-pointer
                                                block
                                                hover:text-red-500
                                            "
                                        >
                                            iPhone 11
                                        </span>
                                    </li>
                                    <li>
                                        <span
                                            class="
                                                text-sm text-gray-700
                                                cursor-pointer
                                                block
                                                hover:text-red-500
                                            "
                                        >
                                            iPhone Xs | Xs Max
                                        </span>
                                    </li>
                                    <li>
                                        <span
                                            class="
                                                text-sm text-gray-700
                                                cursor-pointer
                                                block
                                                hover:text-red-500
                                            "
                                        >
                                            iPhone X | Xr
                                        </span>
                                    </li>
                                    <li>
                                        <span
                                            class="
                                                text-sm text-gray-700
                                                cursor-pointer
                                                block
                                                hover:text-red-500
                                            "
                                        >
                                            iPhone 8 | 8 Plus
                                        </span>
                                    </li>
                                    <li>
                                        <span
                                            class="
                                                text-sm text-gray-700
                                                cursor-pointer
                                                block
                                                hover:text-red-500
                                            "
                                        >
                                            iPhone 7 | 7 Plus
                                        </span>
                                    </li>
                                    <li>
                                        <span
                                            class="
                                                text-sm text-gray-700
                                                cursor-pointer
                                                block
                                                hover:text-red-500
                                            "
                                        >
                                            iPhone 6S | 6S plus
                                        </span>
                                    </li>
                                    <li>
                                        <span
                                            class="
                                                text-sm text-gray-700
                                                cursor-pointer
                                                block
                                                hover:text-red-500
                                            "
                                        >
                                            iPhone cũ | TBH
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div
                            class="
                                relative
                                self-stretch
                                w-full
                                group
                                hover:bg-gray-200
                                hover:text-black
                                mt-0
                            "
                        >
                            <router-link
                                to="/danhmuc/dienthoai"
                                class="h-full w-full link"
                            >
                                <div
                                    class="
                                        flex flex-col
                                        justify-center
                                        items-center
                                        h-full
                                        w-full
                                        px-2
                                        py-2
                                    "
                                >
                                    <i class="fas fa-mobile-alt text-lg"></i>
                                    <span class="whitespace-nowrap"
                                        >ĐIỆN THOẠI</span
                                    >
                                </div>
                            </router-link>
                            <div
                                class="
                                    lg:invisible
                                    hidden
                                    lg:flex
                                    opacity-0
                                    absolute
                                    top-full
                                    left-0
                                    w-[400px]
                                    bg-white
                                    shadow
                                    z-10
                                    lg:group-hover:visible
                                    lg:group-hover:opacity-100
                                    transition-all
                                    duration-300
                                    ease-in-out
                                "
                            >
                                <ul
                                    class="
                                        flex
                                        justify-start
                                        w-full
                                        py-2
                                        mx-4
                                        space-x-10
                                        text-sm text-gray-700
                                    "
                                >
                                    <li class="py-[15px]">
                                        <ul
                                            class="
                                                h-full
                                                space-y-[15px]
                                                list-phone
                                            "
                                        >
                                            <li>
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                    >Samsung</span
                                                >
                                            </li>
                                            <li>
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                    >Oppo</span
                                                >
                                            </li>
                                            <li>
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                    >Nokia</span
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="py-[15px]">
                                        <ul class="space-y-[15px] list-phone">
                                            <li>
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                    >Xiaomi</span
                                                >
                                            </li>
                                            <li>
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                    >Vsmart</span
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="py-[15px]">
                                        <ul class="space-y-[15px] list-phone">
                                            <li>
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                >
                                                    Realme
                                                </span>
                                            </li>
                                            <li>
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                >
                                                    Vivo
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div
                            class="
                                relative
                                self-stretch
                                w-full
                                group
                                hover:bg-gray-200
                                hover:text-black
                            "
                        >
                            <router-link
                                to="/danhmuc/tablet"
                                class="h-full w-full link"
                            >
                                <div
                                    class="
                                        flex flex-col
                                        justify-center
                                        items-center
                                        h-full
                                        w-full
                                        px-2
                                        py-2
                                    "
                                >
                                    <i class="fas fa-tablet text-lg"></i>
                                    <span class="whitespace-nowrap"
                                        >TABLET</span
                                    >
                                </div>
                            </router-link>
                            <div
                                class="
                                    lg:invisible
                                    hidden
                                    lg:flex
                                    opacity-0
                                    absolute
                                    top-full
                                    left-0
                                    w-[250px]
                                    bg-white
                                    shadow
                                    z-10
                                    lg:group-hover:visible
                                    lg:group-hover:opacity-100
                                    transition-all
                                    duration-300
                                    ease-in-out
                                "
                            >
                                <ul
                                    class="
                                        text-gray-700 text-sm
                                        h-full
                                        py-[15px]
                                        space-y-[15px]
                                        mx-4
                                        w-full
                                        my-auto
                                    "
                                >
                                    <li class="w-full cursor-pointer">
                                        <span class="block hover:text-red-500">
                                            Apple iPad
                                        </span>
                                    </li>
                                    <li class="w-full cursor-pointer">
                                        <span class="block hover:text-red-500">
                                            Huawei Tab
                                        </span>
                                    </li>
                                    <li class="w-full cursor-pointer">
                                        <span class="block hover:text-red-500">
                                            Samsung Tab
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div
                            class="
                                relative
                                self-stretch
                                w-full
                                group
                                hover:bg-gray-200
                                hover:text-black
                            "
                        >
                            <router-link
                                to="/danhmuc/macbook"
                                class="h-full w-full link"
                            >
                                <div
                                    class="
                                        flex flex-col
                                        justify-center
                                        items-center
                                        h-full
                                        w-full
                                        px-2
                                        py-2
                                    "
                                >
                                    <i class="fas fa-laptop text-lg"></i>
                                    <span class="whitespace-nowrap"
                                        >MACBOOK</span
                                    >
                                </div>
                            </router-link>
                            <div
                                class="
                                    lg:invisible
                                    hidden
                                    lg:flex
                                    opacity-0
                                    absolute
                                    top-full
                                    left-0
                                    w-[250px]
                                    bg-white
                                    shadow
                                    z-10
                                    lg:group-hover:visible
                                    lg:group-hover:opacity-100
                                    transition-all
                                    duration-300
                                    ease-in-out
                                "
                            >
                                <ul
                                    class="
                                        text-gray-700 text-sm
                                        h-full
                                        py-[15px]
                                        space-y-[15px]
                                        mx-4
                                        w-full
                                        my-auto
                                    "
                                >
                                    <li class="w-full cursor-pointer">
                                        <span class="block hover:text-red-500">
                                            Macbook Air
                                        </span>
                                    </li>
                                    <li class="w-full cursor-pointer">
                                        <span class="block hover:text-red-500">
                                            Macbook Pro
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div
                            class="
                                relative
                                self-stretch
                                w-full
                                group
                                hover:bg-gray-200
                                hover:text-black
                            "
                        >
                            <router-link
                                to="/danhmuc/hangcu"
                                class="h-full w-full link"
                            >
                                <div
                                    class="
                                        flex flex-col
                                        justify-center
                                        items-center
                                        h-full
                                        w-full
                                        px-2
                                    "
                                >
                                    <i class="fas fa-mobile-alt text-lg"></i>
                                    <span class="whitespace-nowrap"
                                        >HÀNG CŨ</span
                                    >
                                </div>
                            </router-link>
                            <div
                                class="
                                    lg:invisible
                                    hidden
                                    lg:flex
                                    opacity-0
                                    absolute
                                    top-full
                                    left-0
                                    w-[250px]
                                    bg-white
                                    shadow
                                    z-10
                                    lg:group-hover:visible
                                    lg:group-hover:opacity-100
                                    transition-all
                                    duration-300
                                    ease-in-out
                                "
                            >
                                <ul
                                    class="
                                        w-full
                                        text-gray-700
                                        flex
                                        justify-start
                                        py-[15px]
                                        mx-4
                                        space-x-10
                                        text-sm
                                    "
                                >
                                    <li class="">
                                        <ul class="space-y-[15px]">
                                            <li class="w-full cursor-pointer">
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                    >iPhone cũ | TBH</span
                                                >
                                            </li>
                                            <li class="w-full cursor-pointer">
                                                <span>Samsung cũ | TBH</span>
                                            </li>
                                            <li class="w-full cursor-pointer">
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                    >Google</span
                                                >
                                            </li>
                                            <li class="w-full cursor-pointer">
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                    >Asus</span
                                                >
                                            </li>
                                            <li class="w-full cursor-pointer">
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                    >Thanh lý</span
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="space-y-[15px]">
                                            <li class="w-full cursor-pointer">
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                    >Sony</span
                                                >
                                            </li>
                                            <li class="w-full cursor-pointer">
                                                <span
                                                    class="
                                                        block
                                                        hover:text-red-500
                                                    "
                                                    >LG</span
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div
                            class="
                                relative
                                self-stretch
                                w-full
                                group
                                hover:bg-gray-200
                                hover:text-black
                            "
                        >
                            <router-link
                                to="/danhmuc/phukien"
                                class="h-full w-full link"
                            >
                                <div
                                    class="
                                        flex flex-col
                                        justify-center
                                        items-center
                                        h-full
                                        w-full
                                        px-2
                                        py-2
                                    "
                                >
                                    <i class="fas fa-headphones text-lg"></i>
                                    <span class="whitespace-nowrap"
                                        >PHỤ KIỆN</span
                                    >
                                </div>
                            </router-link>
                            <div
                                class="
                                    invisible
                                    hidden
                                    lg:flex
                                    opacity-0
                                    absolute
                                    top-full
                                    left-0
                                    w-[250px]
                                    bg-white
                                    shadow
                                    z-10
                                    lg:group-hover:visible
                                    lg:group-hover:opacity-100
                                    transition-all
                                    duration-300
                                    ease-in-out
                                "
                            >
                                <ul
                                    class="
                                        w-full
                                        text-sm text-gray-700
                                        py-[15px]
                                        mx-4
                                        space-y-[15px]
                                    "
                                >
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Phụ kiện Apple</span
                                        >
                                    </li>
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Cáp, sạc</span
                                        >
                                    </li>
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Dán màn hình</span
                                        >
                                    </li>
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Ốp lưng</span
                                        >
                                    </li>
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Pin dự phòng</span
                                        >
                                    </li>
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Tai nghe</span
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div
                            class="
                                relative
                                self-stretch
                                w-full
                                group
                                hover:bg-gray-200
                                hover:text-black
                            "
                        >
                            <router-link
                                to="/danhmuc/dongho"
                                class="h-full w-full link"
                            >
                                <div
                                    class="
                                        flex flex-col
                                        justify-center
                                        items-center
                                        h-full
                                        w-full
                                        px-2
                                        py-2
                                    "
                                >
                                    <i class="fas fa-history text-lg"></i>
                                    <span class="whitespace-nowrap"
                                        >ĐỒNG HỒ</span
                                    >
                                </div>
                            </router-link>
                            <div
                                class="
                                    lg:invisible
                                    hidden
                                    lg:flex
                                    opacity-0
                                    absolute
                                    top-full
                                    lg:right-0
                                    xl:left-0
                                    w-[250px]
                                    bg-white
                                    shadow
                                    z-10
                                    lg:group-hover:visible
                                    lg:group-hover:opacity-100
                                    transition-all
                                    duration-300
                                    ease-in-out
                                "
                            >
                                <ul
                                    class="
                                        w-full
                                        text-gray-700 text-sm
                                        py-[15px]
                                        space-y-[15px]
                                        mx-4
                                    "
                                >
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Apple Watch Series SE</span
                                        >
                                    </li>
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Apple Watch Series 6</span
                                        >
                                    </li>
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Apple Watch Series 5</span
                                        >
                                    </li>
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Apple Watch Series 4</span
                                        >
                                    </li>
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Apple Watch Series 3</span
                                        >
                                    </li>
                                    <li class="cursor-pointer">
                                        <span class="block hover:text-red-500"
                                            >Samsung Watch</span
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div
                            class="
                                relative
                                self-stretch
                                w-full
                                group
                                hover:bg-gray-200
                                hover:text-black
                            "
                        >
                            <router-link
                                to="/giohang"
                                class="h-full w-full link"
                            >
                                <div
                                    class="
                                        flex flex-col
                                        justify-center
                                        items-center
                                        h-full
                                        w-full
                                        px-2
                                        py-2
                                    "
                                >
                                    <i class="fas fa-cart-plus text-lg"></i>
                                    <span class="whitespace-nowrap"
                                        >GIỎ HÀNG</span
                                    >
                                </div>
                            </router-link>
                        </div>
                        <div
                            class="
                                relative
                                self-stretch
                                w-full
                                group
                                hover:bg-gray-200
                                hover:text-black
                            "
                            v-if="isUser"
                        >
                            <router-link
                                to="/dangky"
                                class="w-full self-stretch link"
                            >
                                <div
                                    class="
                                        flex flex-col
                                        justify-center
                                        items-center
                                        h-full
                                        w-full
                                        px-2
                                        py-2
                                    "
                                >
                                    <i class="fas fa-user-plus text-lg"></i>
                                    <span class="whitespace-nowrap"
                                        >ĐĂNG KÝ</span
                                    >
                                </div>
                            </router-link>
                        </div>
                        <div
                            class="
                                relative
                                self-stretch
                                w-full
                                group
                                hover:bg-gray-200
                                hover:text-black
                            "
                            v-if="isUser"
                        >
                            <router-link
                                to="/dangnhap"
                                class="w-full self-stretch link"
                            >
                                <div
                                    class="
                                        flex flex-col
                                        justify-center
                                        items-center
                                        h-full
                                        w-full
                                        px-2
                                        py-2
                                    "
                                >
                                    <i class="fas fa-sign-in-alt text-lg"></i>
                                    <span class="whitespace-nowrap"
                                        >ĐĂNG NHẬP</span
                                    >
                                </div>
                            </router-link>
                        </div>
                        <div
                            class="
                                relative
                                self-stretch
                                w-[150px]
                                group
                                hover:bg-gray-200
                                hover:text-black
                            "
                            v-else
                        >
                            <div
                                class="
                                    w-full
                                    h-full
                                    self-stretch
                                    cursor-pointer
                                "
                            >
                                <div
                                    class="
                                        flex flex-col
                                        justify-center
                                        items-center
                                        h-full
                                        w-full
                                        px-2
                                        py-2
                                        space-x-2
                                    "
                                >
                                    <span
                                        class="
                                            inline-block
                                            w-5
                                            h-5
                                            rounded-full
                                        "
                                    >
                                        <img
                                            src="/User/dung.png"
                                            alt=""
                                            class="w-full rounded-full"
                                        />
                                    </span>
                                    <span
                                        class="
                                            inline-block
                                            flex-1
                                            whitespace-nowrap
                                        "
                                    >
                                        Pham Van Dung
                                    </span>
                                </div>
                                <div
                                    class="
                                        lg:invisible
                                        hidden
                                        lg:flex lg:flex-col
                                        opacity-0
                                        absolute
                                        top-full
                                        lg:right-0
                                        xl:left-0
                                        w-[150px]
                                        bg-white
                                        shadow
                                        z-10
                                        lg:group-hover:visible
                                        lg:group-hover:opacity-100
                                        transition-all
                                        duration-300
                                        ease-in-out
                                    "
                                >
                                    <userName />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-1 lg:hidden h-[36px]">
                    <div class="w-full h-full relative">
                        <input
                            type="text"
                            placeholder="Tìm điện thoại, ipad, phụ kiện..."
                            class="
                                w-full
                                h-full
                                focus:outline-none
                                border
                                focus:ring focus:ring-blue-700
                                pl-4
                                pr-10
                            "
                        />
                        <div class="absolute top-0 right-0 cursor-pointer">
                            <i
                                class="
                                    bx bx-search
                                    text-black text-xl
                                    mt-2
                                    px-2
                                "
                            ></i>
                        </div>
                    </div>
                </div>

                <div
                    class="
                        text-white text-3xl
                        cursor-pointer
                        w-[36px]
                        text-center
                        lg:hidden
                    "
                    @click="onChange"
                >
                    <span v-show="!isToggle">
                        <i class="fas fa-bars w-full"></i>
                    </span>
                    <span v-show="isToggle">
                        <i class="fas fa-times w-full"></i>
                    </span>
                </div>
            </div>
        </nav>
    </div>
    <div
        class="lg:hidden w-full px-8 md:px-20 py-4 bg-red-600 list"
        v-if="isToggle"
    >
        <div class="w-full bg-white">
            <ul
                class="
                    w-full
                    grid grid-cols-2
                    md:grid-cols-3
                    gap-4
                    px-4
                    py-4
                    text-xs
                "
            >
                <li class="cursor-pointer">
                    <router-link
                        :to="{ name: 'iphone' }"
                        @click="onChange"
                        class="w-full h-full inline-block"
                    >
                        <div class="text-center">
                            <i class="bx bxl-apple text-xl"></i>
                            <span> IPHONE </span>
                        </div>
                    </router-link>
                </li>
                <li class="cursor-pointer">
                    <router-link
                        :to="{ name: 'dienThoai' }"
                        @click="onChange"
                        class="w-full h-full inline-block"
                    >
                        <div class="text-center">
                            <i class="fas fa-mobile-alt text-lg"></i>
                            <span> ĐIỆN THOẠI </span>
                        </div>
                    </router-link>
                </li>
                <li class="cursor-pointer">
                    <router-link
                        :to="{ name: 'tablet' }"
                        @click="onChange"
                        class="w-full h-full inline-block"
                    >
                        <div class="text-center">
                            <i class="fas fa-tablet text-lg"></i>
                            <span> TABLET </span>
                        </div>
                    </router-link>
                </li>
                <li class="cursor-pointer">
                    <router-link
                        :to="{ name: 'macbook' }"
                        @click="onChange"
                        class="w-full h-full inline-block"
                    >
                        <div class="text-center">
                            <i class="fas fa-laptop text-lg"></i>
                            <span> MACBOOK </span>
                        </div>
                    </router-link>
                </li>
                <li class="cursor-pointer">
                    <router-link
                        :to="{ name: 'hangcu' }"
                        @click="onChange"
                        class="w-full h-full inline-block"
                    >
                        <div class="text-center">
                            <i class="fas fa-mobile-alt text-lg"></i>
                            <span> HÀNG CŨ </span>
                        </div>
                    </router-link>
                </li>
                <li class="cursor-pointer">
                    <router-link
                        :to="{ name: 'phukien' }"
                        @click="onChange"
                        class="w-full h-full inline-block"
                    >
                        <div class="text-center">
                            <i class="fas fa-headphones text-lg"></i>
                            <span> PHỤ KIỆN </span>
                        </div>
                    </router-link>
                </li>
                <li class="cursor-pointer">
                    <router-link
                        :to="{ name: 'dongho' }"
                        @click="onChange"
                        class="w-full h-full inline-block"
                    >
                        <div class="text-center">
                            <i class="fas fa-history text-lg"></i>
                            <span> ĐỒNG HỒ </span>
                        </div>
                    </router-link>
                </li>
                <li class="cursor-pointer">
                    <router-link
                        :to="{ name: 'giohang' }"
                        @click="onChange"
                        class="w-full h-full inline-block"
                    >
                        <div class="text-center">
                            <i class="fas fa-wrench text-lg"></i>
                            <span> GIỎ HÀNG </span>
                        </div>
                    </router-link>
                </li>
                <li class="cursor-pointer">
                    <router-link
                        :to="{ name: 'dangky' }"
                        @click="onChange"
                        v-if="isUser"
                        class="w-full h-full inline-block"
                    >
                        <div class="text-center">
                            <i class="far fa-newspaper text-lg"></i>
                            <span> ĐĂNG KÝ </span>
                        </div>
                    </router-link>
                    <router-link
                        :to="{ name: 'user' }"
                        @click="onChange"
                        v-else
                        class="w-full h-full inline-block"
                    >
                        <div class="text-center">
                            <i class="far fa-newspaper text-lg"></i>
                            <span> ĐĂNG KÝ </span>
                        </div>
                    </router-link>
                </li>
                <li class="cursor-pointer">
                    <router-link
                        :to="{ name: 'dangnhap' }"
                        @click="onChange"
                        class="w-full h-full inline-block"
                        v-if="isUser"
                    >
                        <div class="text-center">
                            <i class="far fa-bell text-lg"></i>
                            <span> ĐĂNG NHẬP </span>
                        </div>
                    </router-link>
                    <router-link
                        :to="{ name: 'giohang' }"
                        @click="onChange"
                        v-else
                        class="w-full h-full inline-block"
                    >
                        <div class="text-center">
                            <i class="bx bxs-cart-add text-lg"></i>
                            <span> GIỎ HÀNG </span>
                        </div>
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import UserName from './UserName.vue'
export default {
    data() {
        return {
            isToggle: false,
            locations: [
                {
                    id: 0,
                    name: 'Hà Nội',
                    location: 'Hà Nội',
                },
                {
                    id: 1,
                    name: 'HCM - ĐN',
                    location: 'Hồ Chính Minh - Đà Nẵng',
                },
            ],
            index: 0,
            isLocal: false,
            isUser: true,
        }
    },
    components: {
        UserName,
    },
    methods: {
        onChange() {
            this.isToggle = !this.isToggle
        },
        changeLocial(index) {
            this.index = index
            this.isLocal = true
            setTimeout(() => {
                this.isLocal = false
            }, 1000)
        },
    },
}
</script>

<style scoped>
.select::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    z-index: 10;
}
.select::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0px;
    width: 200px;
    height: 10px;
}
.router-link-active {
    background-color: rgba(228, 228, 231, 1);
    color: black;
    display: block;
}
.list-phone li {
    cursor: pointer;
}
.tamgiac {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(244, 244, 245, var(--tw-bg-opacity));
}
.gia::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background: transparent;
    width: 200px;
    height: 10px;
}
.list li {
    border: 1px solid black;
    background: rgba(228, 228, 231, var(--tw-bg-opacity));
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list li span {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.link {
    width: 100%;
    height: 100%;
}
.change_lotical.active {
    display: none;
}
</style>
