<template>
    <div class="w-full">
        <ul class="w-full text-gray-700 text-sm py-[15px] space-y-[15px] mx-2">
            <li class="hover:text-red-500 transition-colors duration-300">
                <router-link :to="{ name: 'user' }">
                    Tài Khoản Của Tôi
                </router-link>
            </li>
            <!-- <li class="hover:text-red-500 transition-colors duration-300">
                <router-link to="/cart"> Đơn Mua </router-link>
            </li> -->
            <li class="hover:text-red-500 transition-colors duration-300">
                <a href="#"> Đăng Xuất </a>
            </li>
        </ul>
    </div>
</template>

<script>
export default {}
</script>

<style>
</style>
