<template>
    <div class="w-ful">
        <!-- Footer -->
        <div class="w-full bg-white shadow mt-[15px] pt-[15px]">
            <div class="max-w-[1140px] mx-auto text-center sm:text-left">
                <div
                    class="
                        w-full
                        grid
                        gap-2
                        grid-cols-1
                        sm:grid-cols-2
                        md:grid-cols-3
                        lg:grid-cols-4
                        px-2
                    "
                >
                    <div
                        class="w-full py-2"
                        data-aos-duration="1200"
                        data-aos="fade"
                    >
                        <div class="w-full mb-[10px]">
                            <h3
                                id="border-bottom"
                                class="
                                    text-base
                                    font-semibold
                                    inline-block
                                    max-w-max
                                    relative
                                "
                            >
                                THÔNG TIN HỖ TRỢ
                            </h3>
                        </div>

                        <div class="w-full my-2">
                            <ul
                                class="
                                    w-full
                                    text-[14px]
                                    font-light
                                    text-gray-700
                                    space-y-2
                                "
                            >
                                <li>
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            transition-colors
                                            duration-300
                                            ease-in-out
                                        "
                                    >
                                        Chính sách bảo hành
                                    </span>
                                </li>
                                <li>
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            transition-colors
                                            duration-300
                                            ease-in-out
                                        "
                                    >
                                        Chính sach bảo hành iPhone - iPad
                                    </span>
                                </li>
                                <li>
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            transition-colors
                                            duration-300
                                            ease-in-out
                                        "
                                    >
                                        Bảo hành Xiaomi chính hãng
                                    </span>
                                </li>
                                <li>
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            transition-colors
                                            duration-300
                                            ease-in-out
                                        "
                                    >
                                        Chinh sách mua hàng Online
                                    </span>
                                </li>
                                <li>
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            transition-colors
                                            duration-300
                                            ease-in-out
                                        "
                                    >
                                        Mua trả góp
                                    </span>
                                </li>
                                <li>
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            transition-colors
                                            duration-300
                                            ease-in-out
                                        "
                                    >
                                        Chính sách bảo mật thông tin khách hàng
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <!-- logo -->
                        <div class="w-full">
                            <img
                                src="/footerImg/dathongbao.png"
                                alt=""
                                class="mx-auto sm:mx-0 object-cover"
                            />
                        </div>
                    </div>

                    <div
                        class="w-full py-2"
                        data-aos-duration="1200"
                        data-aos="fade"
                    >
                        <div class="w-full mb-[15px]">
                            <h3
                                id="border-bottom"
                                class="
                                    text-base
                                    font-semibold
                                    inline-block
                                    max-w-max
                                    relative
                                "
                            >
                                THÔNG TIN LIÊN LẠC
                            </h3>
                        </div>

                        <div class="w-full my-2">
                            <ul
                                class="
                                    text-[14px]
                                    font-light
                                    text-gray-700
                                    space-y-2
                                "
                            >
                                <li
                                    class="
                                        flex flex-col
                                        items-center
                                        sm:items-start
                                    "
                                >
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            max-w-max
                                        "
                                    >
                                        Hotline bán hàng:
                                    </span>
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            font-bold
                                            max-w-max
                                        "
                                    >
                                        0966.06.2468
                                    </span>
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            font-bold
                                            max-w-max
                                        "
                                    >
                                        1900.633.471
                                    </span>
                                </li>

                                <li class="">
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            transition-colors
                                            duration-300
                                            ease-in-out
                                        "
                                    >
                                        Hotline bảo hành, kỹ thuật:
                                        <br />
                                        <strong
                                            class="cursor-pointer font-bold"
                                        >
                                            1900.633.471
                                        </strong>
                                    </span>
                                </li>

                                <li class="">
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            transition-colors
                                            duration-300
                                            ease-in-out
                                        "
                                    >
                                        Hotline hỗ trợ phần mềm:
                                        <br />
                                        <strong
                                            class="cursor-pointer font-bold"
                                        >
                                            096.282.4422
                                        </strong>
                                    </span>
                                </li>

                                <li class="">
                                    <span
                                        class="
                                            cursor-pointer
                                            hover:text-red-500
                                            transition-colors
                                            duration-300
                                            ease-in-out
                                        "
                                    >
                                        Hotline phản ánh chất lượng dịch vụ:
                                        <br />
                                        <strong
                                            class="
                                                cursor-pointer
                                                text-red-600
                                                font-bold
                                            "
                                        >
                                            1900.633.471
                                        </strong>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div
                        class="w-full py-2 md:row-span-2 lg:row-span-3"
                        data-aos-duration="1200"
                        data-aos="fade"
                    >
                        <div class="w-full mb-[15px]">
                            <h3
                                id="border-bottom"
                                class="
                                    text-base
                                    font-semibold
                                    inline-block
                                    max-w-max
                                    relative
                                "
                            >
                                KHU VỰC MIỀN BẮC
                            </h3>
                        </div>

                        <div class="w-full my-2">
                            <ul
                                class="
                                    w-full
                                    text-[14px]
                                    font-light
                                    text-gray-700
                                    space-y-2
                                "
                            >
                                <li class="">
                                    <span class="sm:mr-1">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </span>
                                    <span class="cursor-pointer">
                                        111 Trần Đăng Ninh, Cầu Giấy, Hà Nội:
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            0976.73.2468
                                        </strong>
                                    </span>
                                </li>

                                <li class="">
                                    <span class="sm:mr-1">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </span>
                                    <span class="cursor-pointer">
                                        446 Xã Đàn, Đống Đa, Hà Nội:
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            096.111.2468
                                        </strong>
                                    </span>
                                </li>

                                <li class="">
                                    <span class="sm:mr-1">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </span>
                                    <span class="cursor-pointer">
                                        118 Thái hà, Đống Đa, Hà Nội:
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            096.424.2468
                                        </strong>
                                    </span>
                                </li>

                                <li class="">
                                    <span class="sm:mr-1">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </span>
                                    <span class="cursor-pointer">
                                        312 Nguyễn Trãi, P.Trung Văn, Q.Nam Từ
                                        Liêm, Hà Nội (gần Đại Học Hà Nội):
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            094.698.2468
                                        </strong>
                                    </span>
                                </li>
                                <li
                                    class="
                                        flex
                                        items-center
                                        cursor-pointer
                                        max-w-max
                                        mx-auto
                                        sm:mx-0
                                    "
                                    v-if="!isShow2"
                                    @click="onShow2"
                                >
                                    <span class="text-blue-600 text">
                                        Hiển thị thêm
                                    </span>
                                    <span class="mt-1">
                                        <i
                                            class="
                                                bx
                                                bxs-chevron-down
                                                text-blue-600
                                            "
                                        ></i>
                                    </span>
                                </li>
                                <li v-if="isShow2">
                                    <ul class="space-y-2">
                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                82 Lạch Tray, Ngô Quyền, Hải
                                                Phòng:
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    0949.16.2468
                                                </strong>
                                            </span>
                                        </li>

                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                380 Trần Phú, Ba Đình, TP.Thanh
                                                Hóa:
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    0969.14.2468
                                                </strong>
                                            </span>
                                        </li>

                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                Ngã 3 Đông Yên, Yên Phong, Bắc
                                                Ninh (Khu công nghiệp Yên
                                                Phong):
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    094.144.2468
                                                </strong>
                                            </span>
                                        </li>

                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                Chung cư HillView, Khu Thái Bảo,
                                                Nam Sơn, Bắc Ninh:
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    091.154.2468
                                                </strong>
                                            </span>
                                        </li>

                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                107 Nguyễn Hữu Tiến, TT Đồng
                                                Văn, Duy Tiên, Hà Nam:
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    0357.209.209
                                                </strong>
                                            </span>
                                        </li>

                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                TTBH Hà Nội: Tầng 2, số 111 Trần
                                                Đăng Ninh, Cầu Giấy:
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    02466.83.9292
                                                </strong>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                                <li
                                    class="
                                        flex
                                        items-center
                                        cursor-pointer
                                        max-w-max
                                        mx-auto
                                        sm:mx-0
                                    "
                                    v-if="isShow2"
                                    @click="onShow2"
                                >
                                    <span class="text-blue-600 text">
                                        Ẩn bớt
                                    </span>
                                    <span class="mt-1">
                                        <i
                                            class="
                                                bx
                                                bxs-chevron-up
                                                text-blue-600
                                            "
                                        ></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div
                        class="w-full py-2"
                        data-aos-duration="1200"
                        data-aos="fade"
                    >
                        <div class="w-full mb-[15px]">
                            <h3
                                id="border-bottom"
                                class="
                                    text-base
                                    font-semibold
                                    inline-block
                                    max-w-max
                                    relative
                                "
                            >
                                KHU VỰC MIỀN TRUNG
                            </h3>
                        </div>

                        <div class="w-full my-2">
                            <ul
                                class="
                                    text-[14px]
                                    font-light
                                    text-gray-700
                                    space-y-2
                                "
                            >
                                <li class="">
                                    <span class="sm:mr-1">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </span>
                                    <span class="cursor-pointer">
                                        61 Hàm Nghi, Q.Thanh Khê, TP.Đà Nẵng:
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            0236.651.7771 </strong
                                        >|
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            028.66.845.057
                                        </strong>
                                    </span>
                                </li>

                                <li class="">
                                    <span class="sm:mr-1">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </span>
                                    <span class="cursor-pointer">
                                        209 Ông Ích Đường, Cẩm Lệ, TP.Đà Nẵng:
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            0236.224.4234
                                        </strong>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div
                        class="w-full py-2"
                        data-aos-duration="1200"
                        data-aos="fade"
                    >
                        <div class="w-full mb-[15px]">
                            <h3
                                id="border-bottom"
                                class="
                                    text-base
                                    font-semibold
                                    inline-block
                                    max-w-max
                                    relative
                                "
                            >
                                KHU VỰC MIỀN NAM
                            </h3>
                        </div>

                        <div class="w-full my-2">
                            <ul
                                class="
                                    text-[14px]
                                    font-light
                                    text-gray-700
                                    space-y-2
                                "
                            >
                                <li class="">
                                    <span class="sm:mr-1">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </span>
                                    <span class="cursor-pointer">
                                        379 Hoàng Văn Thụ, P2, Q.Tân Bình, HCM:
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            0984.768.260 </strong
                                        >|
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            028.66.845.057
                                        </strong>
                                    </span>
                                </li>

                                <li class="">
                                    <span class="sm:mr-1">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </span>
                                    <span class="cursor-pointer">
                                        290 Hoàng Văn Thụ, P4, Q.Tân Bình, HCM:
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            0968.371.357
                                        </strong>
                                    </span>
                                </li>

                                <li class="">
                                    <span class="sm:mr-1">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </span>
                                    <span class="cursor-pointer">
                                        466 Quang Trung, P.10, Q.Gò Vấp, HCM:
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            082.639.2468
                                        </strong>
                                    </span>
                                </li>

                                <li class="">
                                    <span class="sm:mr-1">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </span>
                                    <span class="cursor-pointer">
                                        6 Gò Dầu, P.Tân Quý, Q.Tân Phú:
                                        <strong
                                            class="
                                                cursor-pointer
                                                font-bold
                                                hover:text-red-500
                                                transition-colors
                                                duration-300
                                                ease-in-out
                                            "
                                        >
                                            0866.577.357
                                        </strong>
                                    </span>
                                </li>
                                <li
                                    class="
                                        flex
                                        items-center
                                        cursor-pointer
                                        max-w-max
                                        mx-auto
                                        sm:mx-0
                                    "
                                    v-if="!isShow"
                                    @click="onShow"
                                >
                                    <span class="text-blue-600 text">
                                        Hiển thị thêm
                                    </span>
                                    <span class="mt-1">
                                        <i
                                            class="
                                                bx
                                                bxs-chevron-down
                                                text-blue-600
                                            "
                                        ></i>
                                    </span>
                                </li>
                                <li v-if="isShow">
                                    <ul class="space-y-2">
                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                269B Hậu Giang, P5, Q.6, HCM:
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    097.689.3579
                                                </strong>
                                            </span>
                                        </li>

                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                206 Trần Quang Khải, Q.1, HCM:
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    096.475.0268 </strong
                                                >|
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    02866.85.6767
                                                </strong>
                                            </span>
                                        </li>

                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                535 Lê Hồng Phong, Q.10, HCM:
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    096.166.2468 </strong
                                                >|
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    0286.653.1777
                                                </strong>
                                            </span>
                                        </li>

                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                98 Võ Văn Ngân, Q.Thủ Đức, HCM:
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    037.979.0229
                                                </strong>
                                            </span>
                                        </li>

                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                Trung tâm bảo hành 1: 377 Hoàng
                                                Văn Thụ, P.2, Q.Tân Bình.
                                                Hotline:
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    090.55.245.80
                                                </strong>
                                            </span>
                                        </li>

                                        <li class="">
                                            <span class="sm:mr-1">
                                                <i
                                                    class="
                                                        fas
                                                        fa-map-marked-alt
                                                    "
                                                ></i>
                                            </span>
                                            <span class="cursor-pointer">
                                                Trung tâm bảo hành 2: 252 Võ Văn
                                                Ngân, Q.Thủ Đức. Hotline:
                                                <strong
                                                    class="
                                                        cursor-pointer
                                                        font-bold
                                                        hover:text-red-500
                                                        transition-colors
                                                        duration-300
                                                        ease-in-out
                                                    "
                                                >
                                                    097.390.3973
                                                </strong>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                                <li
                                    class="
                                        flex
                                        items-center
                                        cursor-pointer
                                        max-w-max
                                        mx-auto
                                        sm:mx-0
                                    "
                                    v-if="isShow"
                                    @click="onShow"
                                >
                                    <span class="text-blue-600 text">
                                        Ẩn bớt
                                    </span>
                                    <span class="mt-1">
                                        <i
                                            class="
                                                bx
                                                bxs-chevron-up
                                                text-blue-600
                                            "
                                        ></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer end -->
        <div class="w-full bg-gray-300 shadow">
            <div class="max-w-[1140px] mx-auto text-center px-2 py-6">
                <p class="text-[10px] text-trueGray-500">
                    © 2019 - Công ty TNHH & XNK ClickBuy. GPKD số 0106081880 do
                    Sở KH & ĐT TP Hà Nội cấp ngày 10/01/2013
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isShow: false,
            isShow2: false,
        }
    },
    methods: {
        onShow() {
            this.isShow = !this.isShow
        },
        onShow2() {
            this.isShow2 = !this.isShow2
        },
    },
}
</script>

<style scoped>
#border-bottom::after {
    content: '';
    position: absolute;
    width: 20px;
    left: 0;
    bottom: -6px;
    border-bottom: 2px solid rgba(220, 38, 38, var(--tw-bg-opacity));
}
#border-bottom::before {
    content: '';
    position: absolute;
    width: 50px;
    left: 0px;
    bottom: -6px;
    margin-left: 25px;
    border-bottom: 2px solid rgba(113, 113, 122, var(--tw-bg-opacity));
}
</style>
