<template>
    <div class="w-full min-h-screen overflow-hidden">
        <app-nav-bar />
        <transition name="bounce">
            <div
                id="pagetop"
                class="
                    fixed
                    right-2
                    bottom-8
                    h-10
                    w-10
                    rounded
                    bg-blue-600
                    z-50
                    text-center
                    leading-10
                "
                v-show="scY > 300"
                @click="toTop"
            >
                <i
                    class="
                        bx bx-chevron-up
                        text-4xl text-white
                        block
                        w-full
                        h-full
                    "
                ></i>
            </div>
        </transition>
        <router-view> </router-view>
        <div class="fixed bottom-0 left-0 w-[60px] h-[60px]">
            <span class="hidden">Khuyến mãi</span>
            <div class="toa"></div>
            <img src="/red.svg" alt="" class="absolute" />
        </div>
        <app-footer class="w-full" data-aos-duration="1200" data-aos="fade" />
    </div>
</template>

<script>
import AppNavBar from './components/NavBar/NavBar.vue'
import AppFooter from './components/Footer/Footer.vue'
export default {
    components: {
        AppNavBar,
        AppFooter,
    },
    data() {
        return {
            scTimer: 0,
            scY: 0,
        }
    },
    mounted() {
        window.addEventListener('scroll', this.handleScroll)
    },
    methods: {
        handleScroll: function () {
            if (this.scTimer) return
            this.scTimer = setTimeout(() => {
                this.scY = window.scrollY
                clearTimeout(this.scTimer)
                this.scTimer = 0
            }, 100)
        },
        toTop: function () {
            window.scrollTo({
                top: 0,
                behavior: 'smooth',
            })
        },
    },
}
</script>

<style>
:root {
    --heightNav: 55px;
    --heightNavMobile: 70px;
}
input,
button {
    @apply focus:outline-none;
}
.bounce-enter-active {
    animation: bounce-in 0.5s;
}
.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes toara {
    0% {
        box-shadow: 0 0 0px 0px rgb(247 146 39 / 50%);
    }
    75% {
        box-shadow: 0 0 0px 30px rgb(247 146 39 / 0%);
    }
    100% {
        box-shadow: 0 0 0px 0px rgb(247 146 39 / 0%);
    }
}
.toa {
    position: absolute;
    top: 14px;
    left: 14px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    animation: toara 2s 0s ease-out infinite;
}
</style>
