@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply font-poppins min-h-screen bg-white
  }
  
}
@keyframes fadeIn{
  from {
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
 *{
    -webkit-tap-highlight-color: transparent;
  }

  @layer utilities{
    .test{
      box-shadow: 0 0 10px 0px rgba(0,0,0,0.1);
    } 
  }
